/* #region Genaral */
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, p, a, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-style: normal;
  font-weight: 100;
  background-color: #fbfbfb;
  color: #f7f3f3;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1.4rem;
  font-family: 'artifakt-medium', sans-serif;
  display: block;
}

button {
  background: none;
  text-align: center;
}

li {
  list-style: none;
}

/* #endregion Genaral */
/* #region MOBILE active */
.tranOverlay {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9;
}

.tranOverlay.active {
  display: block;
}

.darkOverlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9;
}

.darkOverlay.active {
  display: block;
}

.mobile-navbar-wrap {
  background-color: #fff;
  z-index: 1001;
  position: fixed;
  min-width: 260px;
  max-width: 260px;
  height: 100%;
  top: 0;
  bottom: 0;
  display: none;
}

.mobile-navbar-wrap.active {
  display: block;
}

.mobile-navbar .level-00, .mobile-navbar .level-1-0, .mobile-navbar .level-1-1,
.mobile-navbar .level-1-2, .mobile-navbar .level-1-3, .mobile-navbar .level-2-0-0,
.mobile-navbar .level-2-0-1, .mobile-navbar .level-2-0-2, .mobile-navbar .level-2-1-2 {
  display: none;
}

.mobile-navbar .level-00.active, .mobile-navbar .level-1-0.active, .mobile-navbar .level-1-1.active,
.mobile-navbar .level-1-2.active, .mobile-navbar .level-1-3.active, .mobile-navbar .level-2-0-0.active,
.mobile-navbar .level-2-0-1.active, .mobile-navbar .level-2-0-2.active, .mobile-navbar .level-2-1-2.active {
  display: block;
}

.mobile-navbar button {
  border: none;
}

.mobile-navbar .mobile-title.level-0 {
  font-size: 1.6rem;
  font-family: 'artifakt-bold', serif;
}

.mobile-navbar .mobile-title.level-1 {
  font-size: 1.4rem;
  font-family: 'artifakt-medium', serif;
}

.mobile-navbar .mobile-title.level-2 {
  font-size: 1.4rem;
  font-family: 'artifakt-medium', san-serif;
}

.mobile-navbar .icon-padding-right {
  padding-right: 6px;
}

.mobile-navbar .icon-padding-left {
  padding-left: 6px;
}

.mobile-navbar .mn__top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 10px 16px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.mobile-navbar .mn__top-container .mn__btn-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.mobile-navbar .mn__top-container .mn__btn-nav .btn-close-icon {
  height: 20px;
  width: 20px;
}

.mobile-navbar .mn__top-container .mn__btn-nav:hover {
  cursor: pointer;
}

.mobile-navbar .mn__top-container .mn__separator {
  height: 26px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.3);
}

.mobile-navbar .mn__top-container .mn__autodesk-logo {
  height: 100%;
  width: 120px;
  padding-left: 10px;
}

.mobile-navbar .mn__main-container .mn__main-component .mn__main-component-ul {
  height: calc(100vh - 65px);
  overflow-y: auto;
}

.mobile-navbar .mn__main-container .mn__main-component .mn__main-component-ul.level-00 {
  padding-top: 10px;
}

.mobile-navbar .mn__main-container .mn__main-component .mobile-back-icon-container {
  background-color: #f7f7f7;
}

.mobile-navbar .mn__main-container .mn__main-component .mobile-back-icon-container .mobile-back-icon-clickable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.4rem;
  font-family: 'artifakt-bold', serif;
}

.mobile-navbar .mn__main-container .mn__main-component .mobile-back-icon-container .mobile-back-icon-clickable .mobile-back-icon {
  width: 22px;
  height: 22px;
}

.mobile-navbar .mn__main-container .mn__main-component .mobile-list-title {
  color: #000;
  font-size: 1.6rem;
  font-family: 'artifakt-bold', serif;
  padding: 26px 16px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.mobile-navbar .mobile-list-title.btn-clickable:hover {
  cursor: default;
}

.mobile-navbar .btn-clickable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  padding: 12px 0 12px 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.mobile-navbar .btn-clickable .mobile-caret-icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: 0px 16px 0px 0px;
}

.mobile-navbar .btn-clickable .mobile-title-icon {
  height: 16px;
}

.mobile-navbar .btn-clickable .mobile-title-no-space-betwwen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-navbar .btn-clickable .mobile-external-icon {
  width: 17px;
  height: 17px;
}

.mobile-navbar .btn-clickable:hover {
  cursor: pointer;
}

.mobile-language-wrap {
  display: none;
  background-color: #fff;
  z-index: 1001;
  position: fixed;
  min-width: 260px;
  max-width: 260px;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
}

.mobile-language-wrap.active {
  display: block;
}

.mobile-language-wrap.active .right-language__selector-container {
  height: calc(100vh - 280px);
}

.mobile-language-wrap.active .mn__top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-search-wrap {
  display: none;
  background-color: #fff;
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.mobile-search-wrap .mn__top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-search-wrap .mobile-search__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 20px 18px;
  width: 100%;
}

.mobile-search-wrap .mobile-search__main .mobile-search__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile-search-wrap .mobile-search__main .mobile-search__input-container .header__search-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: 6px;
}

.mobile-search-wrap .mobile-search__main .mobile-search__input-container .header__search-icon .header__search-icon-logo {
  cursor: default;
  background-color: transparent;
  opacity: 1;
  stroke: #000;
}

.mobile-search-wrap .mobile-search__main .mobile-search__input-container .mobile-search__input {
  width: 100%;
  height: 38px;
  border: none;
  outline: none;
  padding: 0px 34px;
  border-radius: 4px;
  line-height: 3.2rem;
  background-color: #f7f7f7;
  color: #000;
  font-size: 1.5rem;
  font-family: 'artifakt-medium', sans-serif;
}

.mobile-search-wrap .mobile-search__main .mobile-search__input-container .mobile-search__input:hover {
  cursor: auto;
}

.mobile-search-wrap .mobile-search__main .mobile-search__input-container .mobile-search__input:focus {
  border-color: #0696d7;
  -webkit-box-shadow: #5f60ff 0 0 0 1px inset;
          box-shadow: #5f60ff 0 0 0 1px inset;
}

.mobile-search-wrap .mobile-search__main .mobile-search__history {
  width: 100%;
  background-color: #fff;
  color: #000;
  margin-top: 6px;
}

.mobile-search-wrap .mobile-search__main .mobile-search__history h3 {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-left: 2px;
}

.mobile-search-wrap.active {
  display: block;
}

.right-language__wrap .right-language__selector-header {
  width: 100%;
}

.right-language__wrap .right-language__selector-header .right-language__selector-heading {
  color: #212121;
  font-size: 1.6rem;
  font-family: 'artifakt-bold', sans-serif;
  font-weight: 900;
  padding: 26px 18px 14px 18px;
}

.right-language__wrap .right-language__selector-item.language-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-language__wrap .right-language__selector-item.language-selected .right-language__selector-a {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.right-language__wrap .right-language__selector-heading:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.right-language__wrap .right-language__selector-container {
  overflow: auto;
  height: 45vh;
}

.right-language__wrap .right-language__selector-container::-webkit-scrollbar {
  width: 6px;
}

.right-language__wrap .right-language__selector-container::-webkit-scrollbar-track {
  background: #fff;
}

.right-language__wrap .right-language__selector-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.right-language__wrap .right-language__selector-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-language__wrap .right-language__selector-item .right-language__selector-a {
  color: #212121;
  padding: 10px 18px;
  width: 100%;
}

.right-language__wrap .right-language__selector-item .right-language__selector-a:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

/* #endregion */
/* #region APP */
.app {
  overflow-x: hidden;
  overflow-y: auto;
}

.app__header {
  background-color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 54px;
}

.header::after {
  content: "";
  position: absolute;
  border-bottom: 0.8px solid rgba(255, 255, 255, 0.2);
  top: 54px;
  right: 0;
  left: 0;
}

.header .header__left, .header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__left {
  float: left;
}

.header .header__left .header__left-mini-bar {
  padding: 2px 10px 2px 10px;
  margin-right: 10px;
  font-size: 2.2rem;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  display: none;
}

.header .header__left .header__left-mini-bar:hover {
  cursor: pointer;
}

.header .header__left .header__left-logo {
  width: 140px;
}

.header .header__left .header__left-logo .autodesk-logo {
  position: relative;
  top: 2px;
}

.header .header__left .header__left-search .left-search__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  margin: auto 4px auto 50px;
  overflow: visible;
}

.header .header__left .header__left-search .left-search__wrap .header__search-icon {
  width: 24px;
  height: 24px;
}

.header .header__left .header__left-search .left-search__wrap .header__search-icon.left {
  position: absolute;
  left: 6px;
}

.header .header__left .header__left-search .left-search__wrap .header__search-icon.right {
  position: relative;
}

.header .header__left .header__left-search .left-search__wrap .header__search-icon .header__search-icon-logo {
  cursor: default;
  background-color: transparent;
  opacity: 1;
  stroke: #fff;
}

.header .header__left .header__left-search .left-search__wrap .left-search__input {
  border: none;
  outline: none;
  padding: 0px 34px;
  width: 350px;
  height: 38px;
  border-radius: 4px;
  font-size: 1.6rem;
  line-height: 3.2rem;
  background-color: #212121;
  color: #fff;
}

.header .header__left .header__left-search .left-search__wrap .left-search__input:hover {
  cursor: auto;
  background-color: #333;
}

.header .header__left .header__left-search .left-search__wrap .left-search__input:focus {
  border-color: #0696d7;
  -webkit-box-shadow: #5f60ff 0 0 0 1px inset;
          box-shadow: #5f60ff 0 0 0 1px inset;
}

.header .header__left .header__left-search .left-search__wrap .left-search__input:focus ~ .left-search__history {
  display: block;
}

.header .header__left .header__left-search .left-search__wrap .left-search__history {
  width: 350px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #fff;
  height: 38px;
  color: #212121;
  position: absolute;
  top: calc(100% + 2px);
  display: none;
}

.header .header__left .header__left-search .left-search__wrap .left-search__history h3 {
  font-size: 1.4rem;
  margin-left: 12px;
  line-height: 38px;
}

.header .header__right {
  float: right;
  margin-right: 4px;
}

.header .header__right .header__right-search-mini {
  padding: 8px 8px 4px 8px;
  margin-right: 4px;
  border-radius: 4px;
  display: none;
}

.header .header__right .header__right-search-mini .header__search-icon {
  width: 24px;
  height: 24px;
}

.header .header__right .header__right-search-mini .header__search-icon.left {
  position: absolute;
  left: 6px;
}

.header .header__right .header__right-search-mini .header__search-icon.right {
  position: relative;
}

.header .header__right .header__right-search-mini .header__search-icon .header__search-icon-logo {
  cursor: default;
  background-color: transparent;
  opacity: 1;
  stroke: #fff;
}

.header .header__right .header__right-search-mini:hover {
  cursor: pointer;
  background-color: #333;
}

.header .header__right .task__search-mini {
  padding: 8px 8px 4px 8px;
  margin-right: 4px;
  border-radius: 4px;
}

.header .header__right .task__search-mini .header__search-icon {
  width: 24px;
  height: 24px;
}

.header .header__right .task__search-mini .header__search-icon.left {
  position: absolute;
  left: 6px;
}

.header .header__right .task__search-mini .header__search-icon.right {
  position: relative;
}

.header .header__right .task__search-mini .header__search-icon .header__search-icon-logo {
  cursor: default;
  background-color: transparent;
  opacity: 1;
  stroke: #fff;
}

.header .header__right .task__search-mini .header__search-icon .header__search-icon-logo {
  stroke: #000;
}

.header .header__right .header__right-cart {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4px;
}

.header .header__right .header__right-cart .right-cart__wrap {
  position: relative;
  padding: 10px 8px 6px 8px;
  color: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__right .header__right-cart .right-cart__wrap:hover {
  cursor: pointer;
  background-color: #333;
}

.header .header__right .header__right-cart .right-cart__wrap .right-cart__icon {
  height: 24px;
}

.header .header__right .header__right-cart .right-cart__wrap .right-cart__notice {
  font-size: 1.2rem;
  position: absolute;
  left: 18px;
}

.header .header__right .task__cart {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4px;
}

.header .header__right .task__cart .right-cart__wrap {
  position: relative;
  padding: 10px 8px 6px 8px;
  color: #000;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__right .task__cart .right-cart__wrap .right-cart__icon {
  height: 24px;
}

.header .header__right .task__cart .right-cart__wrap .right-cart__notice {
  font-size: 1.2rem;
  position: absolute;
  left: 18px;
}

.header .header__right .header__right-language .right-language__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
  margin-left: 4px;
  height: 38px;
  border: none;
  border-radius: 4px;
  color: #fff;
}

.header .header__right .header__right-language .right-language__btn:hover {
  cursor: pointer;
  background-color: #333;
}

.header .header__right .header__right-language .right-language__btn:focus {
  outline: 1px solid #5f60ff;
}

.header .header__right .header__right-language .right-language__btn .right-language__icon {
  height: 24px;
}

.header .header__right .header__right-language .right-language__btn .right-language__text {
  margin-left: 4px;
}

.header .header__right .task__language .right-language__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  margin-left: 8px;
  height: 38px;
  border: none;
  border-radius: 4px;
  color: #000;
}

.header .header__right .task__language .right-language__btn:focus {
  outline: 1px solid #5f60ff;
}

.header .header__right .task__language .right-language__btn .right-language__icon {
  height: 24px;
}

.header .header__right .task__language .right-language__btn .right-language__text {
  margin-left: 4px;
  font-size: 1.4rem;
}

.header .header__right .right-language__list {
  position: relative;
  display: none;
}

.header .header__right .right-language__list .right-language__selector {
  background-color: #fff;
  width: 260px;
  padding: 2px 0px 12px 0px;
  border-radius: 4px;
  border: 1px solid #000;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 20px;
  top: 6px;
}

.header .header__right .right-language__list .right-language__selector::after {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 16px 16px;
  border-color: transparent transparent #fff transparent;
  right: 8px;
  top: -25px;
}

.header .header__right .right-language__list.active {
  display: block;
}

.header .header__right .header__right-mini-dot {
  padding-right: 8px;
  margin-right: 4px;
  font-size: 1.6rem;
  border-radius: 4px;
  border: none;
  color: #fff;
  height: 38px;
  position: relative;
  display: none;
}

.header .header__right .header__right-mini-dot:hover {
  cursor: pointer;
}

.header .header__right .header__right-mini-dot:focus {
  background-color: #333;
}

.header .header__right .header__right-mini-dot .right-task-container.active {
  display: block;
}

.header .header__right .header__right-mini-dot .right-task-container {
  position: absolute;
  right: -10px;
  top: 46px;
  display: none;
}

.header .header__right .header__right-mini-dot .right-task-container .right-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  padding: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 1px solid #000;
}

.header .header__right .header__right-mini-dot .right-task-container .right-task::after {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 16px 16px;
  border-color: transparent transparent #fff transparent;
  right: 10px;
  bottom: 50px;
}

.header .header__right .header__right-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__right .header__right-account .right-account__btn {
  border: none;
  border-radius: 4px;
}

.header .header__right .header__right-account .right-account__btn:hover {
  cursor: pointer;
  outline: 1px solid #5f60ff;
}

.header .header__right .header__right-account .right-account__btn .right-account__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__right .header__right-account .right-account__btn .right-account__wrap .right-account__img {
  border-radius: 50%;
  width: 36px;
}

.header .header__right .right-account__panel-container {
  display: none;
  position: relative;
  z-index: 9;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container {
  position: absolute;
  right: 4px;
  top: 46px;
  width: 275px;
  height: 80vh;
  padding: 12px 0px;
  background-color: white;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: auto;
  z-index: 9;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content {
  z-index: 9;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__category-heading-text {
  font-family: 'artifakt-bold', sans-serif;
  font-weight: 600;
  font-size: 1.55rem;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__category-name-text {
  font-family: 'artifakt-bold', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__content-profile {
  color: #000;
  padding: 8px 12px;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__content-profile .content-profile__email {
  padding: 6px 1px;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__content-profile .content-profile__sign-out-button {
  margin: 4px 0px 14px 0px;
  width: 100%;
  height: 32px;
  border-radius: 3px;
  font-family: 'artifakt-bold', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__content-profile .content-profile__sign-out-button:hover {
  cursor: pointer;
  -webkit-box-shadow: #3f3ff8 0 0 0 0.5px inset;
          box-shadow: #3f3ff8 0 0 0 0.5px inset;
  outline: 0.5px solid #5f60ff;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__category-wrapper {
  color: #000;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__category-wrapper .right-account__category-heading {
  padding: 10px 12px;
  margin-top: 12px;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__category-wrapper .right-account__category-heading .right-account__category-heading-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__category-wrapper .right-account__category-heading .right-account__category-heading-content .right-account__category-heading-icon {
  margin-right: 8px;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__category-wrapper .right-account__category-link,
.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__category-wrapper .right-account__category-heading {
  width: 100%;
  cursor: pointer;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__category-wrapper .right-account__category-link:hover,
.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__category-wrapper .right-account__category-heading:hover {
  background-color: #f7f7f7;
}

.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__category-wrapper .right-account__category-link .right-account__category-link-text,
.header .header__right .right-account__panel-container .right-account__panel-inner-container .right-account__content .right-account__category-wrapper .right-account__category-heading .right-account__category-link-text {
  padding: 10px 45px;
}

.header .header__right .right-account__panel-container::after {
  content: "";
  border-style: solid;
  border-width: 8px 8px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: -9px;
  right: 16px;
  z-index: 1;
}

.header .header__right .right-account__panel-container.active {
  display: block;
}

.navbar {
  height: 44px;
}

.navbar .nav__component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -14px;
}

.navbar .nav__component .nav__btn {
  z-index: 10;
}

.navbar .nav__component .nav__btn .nav__btn-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 0px 14px;
  font-size: 1.4rem;
  font-family: 'artifakt-medium', sans-serif;
}

.navbar .nav__component .nav__btn .nav__btn-item:hover {
  cursor: pointer;
  background-color: #212121;
}

.navbar .nav__component .nav__btn .nav__btn-item .nav_btn-dropdown {
  margin-left: 5px;
}

.navbar .navbar__product-container {
  position: absolute;
  display: none;
}

.navbar .navbar__product-container .navbar__product-panel {
  width: 1000px;
  height: 494px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative;
  z-index: 10;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-products .navbar__product-item-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-products .navbar__product-item-products .item-products__collection-title {
  font-family: 'artifakt-medium', fantasy;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-products .navbar__product-item-products .item-products__collection-box {
  display: block;
  width: 100%;
  margin: 8px 0 16px;
  padding: 16px 12px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-products .navbar__product-item-products .item-products__collection-box:hover {
  border: 1px solid #8080ff;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-products .navbar__product-item-products .item-products__collection-box img {
  width: 100%;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-products .navbar__product-item-products .item-products__collection-box p {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(33, 33, 33, 0.7);
  padding-top: 13px;
  margin: 14px 0 0;
  font-family: 'artifakt-medium', sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1.2;
  text-align: left;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-products .navbar__product-item-products .item-products__collection-list {
  margin: 12px 0px 16px 3px;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-products .navbar__product-item-products .item-products__collection-list span {
  font-family: 'artifakt-bold', fantasy;
  font-weight: 700;
  font-size: 1.55rem;
  line-height: 1.5;
  text-align: left;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-products .navbar__product-item-products .item-products__collection-list .item-products__product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-products .navbar__product-item-products .item-products__collection-list .item-products__product-list .item-products__item-list {
  margin: 6px 0px;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-products .navbar__product-item-products .item-products__collection-list .item-products__product-list .item-products__item-list a {
  font-family: 'artifakt-medium', sans-serif;
  font-weight: 100;
  color: #212121;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-bottom {
  position: relative;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-bottom .navbar__product-section-bottom-link {
  position: relative;
  padding-left: 12px;
  margin: 16px 0;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-bottom .navbar__product-section-bottom-link .navbar__product-section-bottom-item {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px;
  height: 82px;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-bottom .navbar__product-section-bottom-link .navbar__product-section-bottom-item .navbar__product-section-bottom-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 220px;
  border-radius: 4px;
  border: 1px solid #000;
  padding: 6px 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-bottom .navbar__product-section-bottom-link .navbar__product-section-bottom-item .navbar__product-section-bottom-item-link span {
  font-family: 'artifakt-bold', sans-serif;
  font-size: 1.6rem;
  color: #000;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-section .navbar__product-section-bottom .navbar__product-section-bottom-link .navbar__product-section-bottom-item .navbar__product-section-bottom-item-link:hover {
  outline: 1px solid #8080ff;
  cursor: pointer;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-links {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  background-color: #fbfbfb;
  height: 494px;
  width: 246px;
  border-bottom-right-radius: 4px;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-links .navbar__product-block-download-wrap {
  margin-top: 22px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-links .navbar__product-block-download-wrap .navbar__product-block-download .navbar__product-link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-links .navbar__product-block-download-wrap .navbar__product-block-download .navbar__product-link-block p {
  font-family: 'artifakt-bold', sans-serif;
  font-size: 1.42rem;
  color: #000;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-links .navbar__product-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-links .navbar__product-block p {
  font-family: 'artifakt-bold', sans-serif;
  font-size: 1.45rem;
  color: #000;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-links .navbar__product-block-list ul {
  display: block;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-links .navbar__product-block-list ul li {
  margin-top: 18px;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-links .navbar__product-block-list ul li a {
  color: #000;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-links .navbar__product-block-list .navbar__product-block-last-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-links .navbar__product-block-list .navbar__product-block-last-item span {
  margin-bottom: 4px;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-links .navbar__product-cart-icon {
  height: 24px;
  width: 24px;
}

.navbar .navbar__product-container .navbar__product-panel .navbar__product-links .download-icon {
  height: 22px;
  width: 22px;
}

.navbar .icon-padding-right {
  padding-right: 6px;
}

.navbar .icon-padding-left {
  padding-left: 6px;
}

.navbar .navbar__external-icon {
  height: 20px;
  width: 20px;
}

.navbar .navbar__caret-icon-wrap {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.navbar .navbar__support-container,
.navbar .navbar__learn-container,
.navbar .navbar__community-container {
  display: none;
  position: absolute;
  width: 224px;
  z-index: 10;
}

.navbar .navbar__product-container.active,
.navbar .navbar__support-container.active,
.navbar .navbar__learn-container.active,
.navbar .navbar__community-container.active {
  display: block;
}

.navbar .navbar__panel {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.navbar .navbar__panel button {
  border: none;
}

.navbar .navbar__panel button:hover {
  cursor: pointer;
}

.navbar .navbar__panel .navbar__container-item-clickable {
  padding: 10px 20px 10px 16px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.44rem;
  font-family: 'artifakt-medium', sans-serif;
  line-height: 1.3;
}

.navbar .navbar__panel .navbar__container-item-clickable .navbar__external-icon {
  position: relative;
  bottom: -4px;
}

.navbar .navbar__panel .navbar__container-item-clickable:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.navbar .navbar__panel-container {
  padding: 12px 0px;
  width: 100%;
}

.carousel-banner {
  background-color: #000;
  height: 612px;
  z-index: 2;
  overflow: hidden;
  background-image: url('/assets/2. body_carousel/aec-factoryos-hero-banner-2000x1200.jpg');
  background-size: auto 197%;
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: 98px;
}

.carousel-banner .carousel-controls-half {
  position: relative;
  z-index: 2;
}

.carousel-banner .carousel-controls-half .control-half-btn {
  z-index: 2;
  position: absolute;
  top: -332px;
  border: none;
  background-color: #fff;
  height: 90px;
  width: 45px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-banner .carousel-controls-half .control-half-btn:hover {
  cursor: pointer;
}

.carousel-banner .carousel-controls-half .control-half-btn.prev-slide {
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  position: absolute;
  left: -4px;
}

.carousel-banner .carousel-controls-half .control-half-btn.next-slide {
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  position: absolute;
  right: -4px;
}

.carousel-banner .carousel-controls-half .control-half-btn .prev-btn-icon {
  font-size: 40px;
  padding: 0px 0px 5px 6px;
}

.carousel-banner .carousel-controls-half .control-half-btn .next-btn-icon {
  font-size: 40px;
  padding: 0px 0px 5px 14px;
}

.carousel {
  background-color: transparent;
  height: 612px;
  position: relative;
}

.carousel .carousel-headings-wrap::before {
  width: 40px;
  height: 84px;
  background: -webkit-gradient(linear, left top, right top, color-stop(4%, #161616), color-stop(48%, rgba(22, 22, 22, 0.7)), to(rgba(22, 22, 22, 0)));
  background: linear-gradient(90deg, #161616 4%, rgba(22, 22, 22, 0.7) 48%, rgba(22, 22, 22, 0) 100%);
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  pointer-events: none;
  display: none;
}

.carousel .carousel-headings-wrap::after {
  width: 40px;
  height: 83px;
  background: -webkit-gradient(linear, right top, left top, color-stop(4%, #161616), color-stop(48%, rgba(22, 22, 22, 0.7)), to(rgba(22, 22, 22, 0)));
  background: linear-gradient(270deg, #161616 4%, rgba(22, 22, 22, 0.7) 48%, rgba(22, 22, 22, 0) 100%);
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  pointer-events: none;
  display: none;
}

.carousel .carousel__headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.55rem;
  position: relative;
  top: 78px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 8px;
  z-index: 1;
}

.carousel .carousel__headings .carousel-heading {
  opacity: 0.7;
  padding: 0px 2px 10px 2px;
  margin: 0px 32px 0px 0px;
  border-bottom: 1px solid transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.carousel .carousel__headings .carousel-heading:hover {
  cursor: pointer;
  opacity: 1;
  border-color: white;
}

.carousel .carousel__headings .carousel-heading.active {
  opacity: 1;
  border-color: white;
}

.carousel .carousel__toggle {
  position: relative;
}

.carousel .carousel__toggle .carousel-slide {
  position: absolute;
  width: 100%;
  display: none;
}

.carousel .carousel__toggle .carousel-slide .slide__text {
  position: absolute;
  z-index: 1;
  font-family: 'artifakt-bold', sans-serif;
  font-size: 2.2rem;
  line-height: 5.2rem;
  top: 214px;
}

.carousel .carousel__toggle .carousel-slide .slide__text .slide__text-line {
  font-weight: 900;
}

.carousel .carousel__toggle .carousel-slide .slide__copyright {
  position: absolute;
  font-size: 1.25rem;
  top: 540px;
  color: rgba(255, 255, 255, 0.6);
}

.carousel .carousel__toggle .carousel-slide.go-shop {
  display: block;
  top: 390px;
  width: 174px;
  background-color: #fff;
  color: #000;
  font-size: 1.6rem;
  padding: 12px 20px;
  border-radius: 4px;
}

.carousel .carousel__toggle .carousel-slide.go-shop:hover {
  outline: 2px solid #5f60ff;
  outline-offset: 2px;
}

.carousel .carousel__toggle .carousel-slide.active {
  display: block;
}

.carousel {
  position: relative;
}

.carousel .carousel-controls {
  z-index: 2;
}

.carousel .carousel-controls .control-btn {
  position: absolute;
  top: 269.28px;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.carousel .carousel-controls .control-btn:hover {
  cursor: pointer;
}

.carousel .carousel-controls .control-btn .control-btn-icon {
  font-size: 40px;
  padding-left: 14px;
}

.carousel .carousel-controls .control-btn.prev-slide {
  position: relative;
  right: 80px;
}

.carousel .carousel-controls .control-btn.next-slide {
  position: relative;
  left: 1170px;
}

.carousel-core-react.grid.wide {
  max-width: 1260px;
}

.core-react {
  margin-top: 45px;
  display: none;
}

.core-react .core-react__item {
  background-color: #fff;
  font-family: 'artifakt-bold';
  margin: 0px 10px 30px 10px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.28);
  overflow: hidden;
}

.core-react .core-react__item .core-react__link {
  color: #000;
  position: relative;
}

.core-react .core-react__item .core-react__link .item-content .item-content__text {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  margin: 30px 28px 10px 30px;
  min-height: 185px;
}

.core-react .core-react__item .core-react__link .item-content .item-content__text .item-content__heading-text {
  line-height: 1;
}

.core-react .core-react__item .core-react__link .item-content .item-content__text .item-content__content-text {
  line-height: 1.4;
  margin: 22px 20px 0 0;
}

.core-react .core-react__item .core-react__link .item-content .item-content__text .item-content__headline-text {
  margin-bottom: 10px;
}

.core-react .core-react__item .core-react__link:hover .item-content .direction-wrap .direction .direction-icon {
  background-color: #fff;
  fill: #000;
  border: none;
}

.core-react .core-react__item .core-react__link .img-wrap .item-img {
  margin-bottom: -6px;
}

.core-react .core-react__item .core-react__link .img-wrap .item-img .item-img__copyright-text {
  position: absolute;
  color: #fff;
  bottom: 5px;
  margin: 30px 28px 28px 28px;
  z-index: 2;
}

.core-react .core-react__item .core-react__link .img-wrap .item-img .item-link-img {
  width: 100%;
}

.core-react .core-react__item.item-aec .core-react__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.core-react .core-react__item.item-aec .core-react__link .img-wrap {
  position: relative;
}

.core-react .core-react__item.item-aec .core-react__link .img-wrap .item-img .item-link-img {
  width: 191%;
}

.core-react .core-react__item.item-news .core-react__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.core-react .core-react__item.item-news .core-react__link .img-wrap {
  position: relative;
}

.core-react .core-react__item.item-news .core-react__link .img-wrap .item-img .item-link-img {
  width: 100%;
}

.core-react .core-react__item.item-buy.buy-aec .core-react__link .item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.core-react .core-react__item.item-buy.buy-aec .core-react__link .item-content .item-content__text {
  min-height: 68px;
  margin-bottom: 4px;
}

.core-react .core-react__item.item-buy.buy-aec .core-react__link .item-content .item-content__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

.core-react .core-react__item.item-buy.buy-aec .core-react__link .item-content .item-content__buy .item-content__img-buy {
  margin: 20px;
  width: 14%;
}

.core-react .core-react__item.item-buy.buy-aec .core-react__link .item-content .item-content__buy .item-content__buy-text {
  font-size: 1.6rem;
  font-family: 'artifakt-medium', sans-serif;
}

.core-react .core-react__item.item-buy.buy-pdm-me .core-react__link .item-content {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8px;
}

.core-react .core-react__item.item-buy.buy-pdm-me .core-react__link .item-content .item-content__text {
  min-height: 34px;
}

.core-react .core-react__item.item-buy.buy-pdm-me .core-react__link .item-content .row {
  margin: 10px 6px 10px 6px;
}

.core-react .core-react__item.item-buy.buy-pdm-me .core-react__link .item-content .row .item-content__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}

.core-react .core-react__item.item-buy.buy-pdm-me .core-react__link .item-content .row .item-content__buy .item-content__img-buy {
  margin: 20px;
  width: 18%;
}

.core-react .core-react__item.item-buy.buy-pdm-me .core-react__link .item-content .row .item-content__buy .item-content__buy-text {
  font-size: 1.6rem;
  font-family: 'artifakt-medium', sans-serif;
}

.core-react .core-react__item.item-buy.buy-pdm-me .core-react__link .item-content .row .direction-wrap .direction {
  margin: 0px 2px 10px 20px;
  padding-right: 0px;
}

.core-react.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.direction-wrap .direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 32px 10px 30px;
  padding-top: 12px;
  min-height: 76px;
  font-size: 1.6rem;
  font-family: 'artifakt-medium', sans-serif;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.direction-wrap .direction .direction-icon {
  min-width: 29px;
  margin: 1px;
  padding: 0.7px;
  border: 0.7px solid #000;
  background: #000;
  fill: #fff;
  border-radius: 50%;
}

.direction-wrap .direction .direction-text {
  margin: 7px 0px 0px 10px;
  line-height: 1.2;
}

.img-wrap {
  position: relative;
}

.img-wrap .item-img {
  margin-bottom: -6px;
}

.img-wrap .item-img .item-img__copyright-text {
  position: absolute;
  color: #fff;
  bottom: 5px;
  margin: 30px 28px 28px 28px;
  z-index: 2;
  font-size: 1.1rem;
}

.img-wrap .img-gradient.item-img::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 150px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  bottom: 0px;
}

.xfpage {
  height: 518px;
  margin: 70px 0px;
  background-color: #000;
  background-image: url("/assets/img/2. body_container/future-of-work-banner-2000x1200-2.jpg");
  background-size: auto 190%;
  background-position: center top;
  background-repeat: no-repeat;
}

.xfpage .xfpage-content {
  position: relative;
}

.xfpage .xfpage-content .xfpage-item {
  position: absolute;
  top: 120px;
  right: 0;
}

.xfpage .xfpage-content .xfpage-item .xfpage-item--text {
  color: #fff;
  padding: 28px 50px 0px 0px;
}

.xfpage .xfpage-content .xfpage-item .xfpage-item--text .xfpage-item--heading-text {
  font-size: 4.1rem;
  line-height: 4rem;
  font-family: "artifakt-bold", serif;
}

.xfpage .xfpage-content .xfpage-item .xfpage-item--text .xfpage-item--content-text {
  margin-top: 10px;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.02rem;
}

.xfpage .xfpage-content .xfpage-item .direction-wrap .direction {
  color: #fff;
  margin: 0;
  border: none;
}

.xfpage .xfpage-content .xfpage-item .direction-wrap .direction .direction-icon {
  background-color: #fff;
  fill: #000;
  border: none;
}

.xfpage .xfpage-content .xfpage-item .direction-wrap .direction .direction-text {
  font-size: 1.8rem;
  line-height: 1;
}

.app__footer {
  background-color: #f5f5f5;
  color: #212121;
  margin-top: 48px;
}

.app__footer a {
  color: #212121;
}

.app__footer::before {
  content: "";
  position: absolute;
  border-top: 0.5px solid rgba(0, 0, 0, 0.15);
  width: 100%;
}

.app__footer .grid.wide .row .footer-col.col {
  margin-bottom: 12px;
}

.footer-col.m-3 {
  padding-left: 10px;
}

.footer__items {
  margin: 22px 0px 2px 10px;
}

.footer__items .footer__heading {
  font-size: 1.6rem;
  line-height: 1.3;
  margin-bottom: 8px;
}

.footer__items .footer__heading.footer-item__link:hover {
  color: #000;
  font-family: 'artifakt-medium', fantasy;
  text-decoration: underline !important;
  text-underline-offset: 4px;
}

.footer__items .footer__list .footer-item__link, .footer__items .footer__list-media .footer-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.footer__items .footer__list .footer-item__link:hover, .footer__items .footer__list-media .footer-item__link:hover {
  color: #000;
  font-family: 'artifakt-medium', fantasy;
  text-decoration: underline !important;
  text-underline-offset: 2.1px;
}

.footer__items .footer__list .footer-item__follow, .footer__items .footer__list-media .footer-item__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6px 0px;
}

.footer__items .footer__list .footer-worldwide, .footer__items .footer__list-media .footer-worldwide {
  border-top: 0.5px solid rgba(0, 0, 0, 0.15);
  padding: 12px 0px;
  margin-right: 12px;
}

.footer__items .footer__list .about-us, .footer__items .footer__list-media .about-us {
  font-style: italic;
}

.footer__items .footer__list .media-items, .footer__items .footer__list-media .media-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__items .footer__list .footer-icon, .footer__items .footer__list-media .footer-icon {
  height: 24px;
  margin-right: 10px;
}

.footer__items.footer-media {
  width: 100%;
}

.footer-col {
  position: relative;
}

.footer-col .footer__items.y-bar::after {
  content: "";
  position: absolute;
  height: 94%;
  top: 20px;
  left: 2px;
  border-left: 0.8px solid rgba(0, 0, 0, 0.25);
}

.footer-col .footer__items.y-bar-toggle::after {
  content: "";
  position: absolute;
  height: 94%;
  top: 20px;
  left: 2px;
  border-left: 0.8px solid rgba(0, 0, 0, 0.25);
}

.footer-privacy {
  background-color: #eeeeee;
  border-top: 0.5px solid rgba(0, 0, 0, 0.15);
}

.footer__privacy-wrap {
  display: block;
  padding: 28px 20px;
}

.footer__privacy-wrap .footer__privacy-items {
  margin-bottom: 4px;
}

.footer__privacy-wrap .footer__privacy-items .footer-item__link {
  margin-right: 8px;
  position: relative;
  line-height: 1.8;
}

.footer__privacy-wrap .footer__privacy-items .footer-item__link:not(:last-child):after {
  content: "";
  position: relative;
  border-right: 0.5px solid rgba(0, 0, 0, 0.45);
  left: 6px;
}

.footer__privacy-wrap .footer__privacy-items .underline:hover {
  border-bottom: 0.5px solid black;
}

.footer-item__link,
.footer-item__copyright {
  font-size: 1.2rem;
  color: #212121;
}

/* #endregion */
/*# sourceMappingURL=main.css.map */