@import './variables.scss';

/* #region Genaral */
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
body, p, a, ul, li, h1, h2, h3, h4, h5, h6 { 
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-style: normal;
    font-weight: 100;
    background-color: $color-bg;
    color: $color-default-text;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1.4rem;
    font-family: 'artifakt-medium', sans-serif;
    display: block; 
}
button {
    background: none;
    text-align: center;
}
li {
    list-style: none;
}

/* #endregion Genaral */

/* #region MOBILE active */

.tranOverlay {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9;
}
.tranOverlay.active {
    display: block;
}
.darkOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9;
}
.darkOverlay.active {
    display: block;
}
.mobile-navbar-wrap {
    background-color: $color-white;
    z-index: 1001;
    position: fixed;
    min-width: 260px;
    max-width: 260px;
    height: 100%;
    top: 0;
    bottom: 0;
    display: none;
}

.mobile-navbar-wrap.active {
    display: block;
}

.mobile-navbar {
    .level-00, .level-1-0, .level-1-1, 
    .level-1-2, .level-1-3, .level-2-0-0, 
    .level-2-0-1, .level-2-0-2, .level-2-1-2 {
        display: none;
    }
    .level-00.active, .level-1-0.active, .level-1-1.active, 
    .level-1-2.active, .level-1-3.active, .level-2-0-0.active, 
    .level-2-0-1.active, .level-2-0-2.active, .level-2-1-2.active {
        display: block;
    }

    button {
        border: none;
    }
    .mobile-title.level-0 {
        font-size: 1.6rem;
        font-family: 'artifakt-bold', serif;
    }
    .mobile-title.level-1 {
        font-size: 1.4rem;
        font-family: 'artifakt-medium', serif;
    }
    .mobile-title.level-2 {
        font-size: 1.4rem;
        font-family: 'artifakt-medium', san-serif;
    }
    .icon-padding-right {
        padding-right: 6px;
    }
    .icon-padding-left {
        padding-left: 6px;
    }
    .mn__top-container {
        display: flex;
        align-items: center;
        padding: 16px 10px 16px 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        .mn__btn-nav {
            display: flex;
            align-items: center;
            padding-right: 10px;
            .btn-close-icon {
                height: 20px;
                width: 20px;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .mn__separator {
            height: 26px;
            border-right: 0.5px solid rgba(0, 0, 0, 0.3);

        }

        .mn__autodesk-logo {
            height: 100%;
            width: 120px;
            padding-left: 10px;
        }
    }
    .mn__main-container {
        .mn__main-component {
            .mn__main-component-ul {
                height: calc(100vh - 65px);
                overflow-y: auto;
                &.level-00 {
                    padding-top: 10px;
                }
            }
            .mobile-back-icon-container {
                background-color: $color-window-header-hover;
                .mobile-back-icon-clickable {
                    display: flex;
                    justify-content: flex-start;
                    font-size: 1.4rem;
                    font-family: 'artifakt-bold', serif;
                    .mobile-back-icon {
                        width:22px;
                        height:22px;
                    }
                }
            }
            .mobile-list-title {
                color: $color-black;
                font-size: 1.6rem;
                font-family: 'artifakt-bold', serif;
                padding: 26px 16px;
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
    .mobile-list-title.btn-clickable {
        &:hover {
            cursor: default;
        }
    }
    .btn-clickable {
        display: flex;
        position: relative;
        width: 100%;
        padding: 12px 0 12px 16px;
        justify-content: space-between;
        align-items: center;
        color: $color-black;
        .mobile-caret-icon {
            transform: rotate(-90deg);
            margin: 0px 16px 0px 0px;
        }
        .mobile-title-icon {
            height: 16px;
        }
        .mobile-title-no-space-betwwen {
            display: flex;
        }
        .mobile-external-icon {
            width: 17px;
            height: 17px;
        }
        &:hover {
            cursor: pointer;
        } 
    }

}

.mobile-language-wrap {
    display: none;
    background-color: $color-white;
    z-index: 1001;
    position: fixed;
    min-width: 260px;
    max-width: 260px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
}

.mobile-language-wrap.active {
    display: block;
    .right-language__selector-container {
        height: calc(100vh - 280px);
    }
    .mn__top-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.mobile-search-wrap {
    display: none;
    background-color: $color-white;
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    .mn__top-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile-search__main {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        padding: 20px 18px;
        width: 100%;
        .mobile-search__input-container {
            display: flex;
            align-items: center;
            width: 100%;
            .header__search-icon {
                width: 24px;
                height: 24px;
                position: absolute;
                margin-left: 6px;
                .header__search-icon-logo {
                    cursor: default;
                    background-color: transparent;
                    opacity: 1;
                    stroke: $color-black;
                }
            }
    
            .mobile-search__input {
                width: 100%;
                height: $height-searchbar;
                border: none;
                outline: none;
                padding: 0px 34px;
                border-radius: 4px;
                line-height: 3.2rem;
                background-color: $color-window-header-hover;
                color: $color-black;
                font-size: 1.5rem;
                font-family: 'artifakt-medium', sans-serif;
                &:hover {
                    cursor: auto;
                }
                &:focus {
                    border-color: #0696d7;
                    box-shadow: #5f60ff 0 0 0 1px inset;
                }
            }
        }
        .mobile-search__history {
            width: 100%;
            background-color: $color-white;
            color: $color-black;
            margin-top: 6px;
            
            h3 {
                font-size: 1.4rem;
                line-height: 1.5;
                margin-left: 2px;
            }
        }
    }
    
}

.mobile-search-wrap.active {
    display: block;
}
.right-language__wrap {
    .right-language__selector-header {
        width: 100%;
        .right-language__selector-heading {
            color: $color-footer-text;
            font-size: 1.6rem;
            font-family: 'artifakt-bold', sans-serif;
            font-weight: 900;
            padding: 26px 18px 14px 18px;
        }
    }
    .right-language__selector-item.language-selected {
        display: flex;
        .right-language__selector-a {
            background-color: $color-window-header-hover;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
        }
    }
    .right-language__selector-heading:last-child {
        border-top: 1px solid rgba(0, 0, 0, 0.25);
    }
    .right-language__selector-container {
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            background: $color-white;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.25);
            border-radius: 20px;
        }
        overflow: auto;
        height: 45vh;
    }
    .right-language__selector-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        .right-language__selector-a {
            color: $color-footer-text;
            padding: 10px 18px;
            width: 100%;
            &:hover {
                background-color: $color-window-header-hover;
                cursor: pointer;
            }
        }
    }

}


/* #endregion */

/* #region APP */
.app {
    overflow-x: hidden;
    overflow-y: auto;

}
.app__header {
    background-color: $color-black;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    height: $height-header;
    &::after {
        content: "";
        position: absolute;
        border-bottom: 0.8px solid rgba(255, 255, 255, 0.2);
        top: $height-header;
        right: 0;
        left: 0;
    }
    @mixin search-icon {
        .header__search-icon {
            width: 24px;
            height: 24px;
            &.left {
                position: absolute;
                left: 6px;
            }
            &.right {
                position: relative;
            }
            .header__search-icon-logo {
                cursor: default;
                background-color: transparent;
                opacity: 1;
                stroke: $color-white;
            }
        }
    }
    .header__left, .header__right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header__left {
        float: left;
        .header__left-mini-bar {
            padding: 2px 10px 2px 10px;
            margin-right: 10px;
            font-size: 2.2rem;
            border-right: 1px solid rgba(255, 255, 255, 0.5);
            display: none;
            &:hover {
                cursor: pointer;
            }
        }
        .header__left-logo {
            width: 140px;
            .autodesk-logo {
                position: relative;
                top: 2px;
            }
        }
        .header__left-search {
            .left-search__wrap {
                @include search-icon;
                display: flex;
                align-items: center;
                flex: 1;
                position: relative;
                margin: auto 4px auto 50px;
                overflow: visible;
               
                .left-search__input {
                    border: none;
                    outline: none;
                    padding: 0px 34px;
                    width: $width-searchbar;
                    height: $height-searchbar;
                    border-radius: 4px;
                    font-size: 1.6rem;
                    line-height: 3.2rem;
                    background-color: $color-search;
                    color: $color-white;
                    &:hover {
                        cursor: auto;
                        background-color: $color-search-hover; 
                    }
                    &:focus {
                        border-color: #0696d7;
                        box-shadow: #5f60ff 0 0 0 1px inset;
                        & ~.left-search__history {
                            display: block;
                        }
                    }

                }
                .left-search__history {
                    width: $width-searchbar;
                    border-bottom-left-radius: 2px;
                    border-bottom-right-radius: 2px;
                    background-color: $color-white;
                    height: $height-searchbar;
                    color: $color-search;
                    position: absolute;
                    top: calc(100% + 2px);
                    display: none;
                    h3 {
                        font-size: 1.4rem;
                        margin-left: 12px;
                        line-height: $height-searchbar;
                    }
                }
            }
        }
    }

    .header__right {
        float: right;
        margin-right: 4px;
        .header__right-search-mini {
            @include search-icon;
            padding: 8px 8px 4px 8px;
            margin-right: 4px;
            border-radius: 4px;
            display: none;
            &:hover {
                cursor: pointer;
                background-color: $color-search-hover;
            }
        }
        .task__search-mini {
            @include search-icon;
            padding: 8px 8px 4px 8px;
            margin-right: 4px;
            border-radius: 4px;
            .header__search-icon {
                .header__search-icon-logo {
                    stroke: $color-black;
                }
            }
        }
        .header__right-cart {
            align-items: center;
            display: flex;
            margin-right: 4px;
            .right-cart__wrap {
                position: relative;
                padding: 10px 8px 6px 8px;
                color: $color-white;
                border-radius: 4px;
                display: flex;
                &:hover {
                    cursor: pointer;
                    background-color: $color-search-hover;
                }
                .right-cart__icon {
                    height: 24px; 
                }
                .right-cart__notice {
                    font-size: 1.2rem;
                    position: absolute;
                    left: 18px;
                }
            }
        }
        .task__cart {
            align-items: center;
            display: flex;
            margin-right: 4px;
            .right-cart__wrap {
                position: relative;
                padding: 10px 8px 6px 8px;
                color: $color-black;
                border-radius: 4px;
                display: flex;
                .right-cart__icon {
                    height: 24px; 
                }
                .right-cart__notice {
                    font-size: 1.2rem;
                    position: absolute;
                    left: 18px;
                }
            }
        }
        .header__right-language {
            .right-language__btn {
                display: flex;
                align-items: center;
                margin-right: 4px;
                margin-left: 4px;
                height: 38px;
                border:  none;
                border-radius: 4px;
                color: $color-white;
                &:hover {
                    cursor: pointer;
                    background-color: $color-search-hover;
                }
                &:focus {
                    outline: 1px solid #5f60ff;
                }
                .right-language__icon {
                   height: 24px;
                }
                .right-language__text {
                    margin-left: 4px;
                }
            }
        }
        .task__language {
            .right-language__btn {
                display: flex;
                align-items: center;
                margin-right: 8px;
                margin-left: 8px;
                height: 38px;
                border:  none;
                border-radius: 4px;
                color: $color-black;
                &:focus {
                    outline: 1px solid #5f60ff;
                }
                .right-language__icon {
                   height: 24px;
                }
                .right-language__text {
                    margin-left: 4px;
                    font-size: 1.4rem;
                }
            }
        }
        .right-language__list {
            position: relative;
            display: none;
            .right-language__selector {
                background-color: $color-white;
                width: 260px;
                padding: 2px 0px 12px 0px;
                border-radius: 4px;
                border: 1px solid $color-black;
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
                position: absolute;
                right: 20px;
                top: 6px;
                &::after {
                    position: absolute;
                    content: "";
                    border-style: solid;
                    border-width: 16px 16px;
                    border-color: transparent transparent #fff transparent;
                    right: 8px;
                    top: -25px;
                }
            }
        }
        .right-language__list.active {
            display: block;
        }
        
        .header__right-mini-dot {
            padding-right: 8px;
            margin-right: 4px;
            font-size: 1.6rem;
            border-radius: 4px;
            border: none;
            color: $color-white;
            height: 38px;
            position: relative;
            &:hover {
                cursor: pointer;
            }
            &:focus {
                background-color: $color-search-hover;
            }
            display: none;
            .right-task-container.active {
                display: block;
            }
            .right-task-container {
                position: absolute;
                right: -10px;
                top: $height-nav + 2px;
                display: none;
                .right-task {
                    display: flex;
                    background-color: $color-white;
                    border-radius: 5px;
                    padding: 8px;
                    align-items: center;
                    outline: 1px solid $color-black;
                }
                .right-task::after {
                    position: absolute;
                    content: "";
                    border-style: solid;
                    border-width: 16px 16px;
                    border-color: transparent transparent 
                    $color-white transparent;
                    right: 10px;
                    bottom: 50px;
                }
            }
        }
        .header__right-account {
            display: flex;
            .right-account__btn {
                border: none;
                border-radius: 4px;
                &:hover {
                    cursor: pointer;
                    outline: 1px solid #5f60ff;
                }
                .right-account__wrap {
                    display: flex;
                    .right-account__img {
                        border-radius: 50%;
                        width: 36px;
                    }
                }
            }
        }
        .right-account__panel-container {
            display: none;
            position: relative;
            z-index: 9;
            .right-account__panel-inner-container {
                position: absolute;
                right: 4px;
                top: 46px;
                width: 275px;
                height: 80vh;
                padding: 12px 0px;
                background-color: rgb(255, 255, 255);
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                overflow: auto;
                z-index: 9;
                .right-account__content {
                    z-index: 9;
                    .right-account__category-heading-text {
                        font-family: 'artifakt-bold', sans-serif;
                        font-weight: 600;
                        font-size: 1.55rem;
                    }
                    .right-account__category-name-text {
                        font-family: 'artifakt-bold', sans-serif;
                        font-weight: 700;
                        font-size: 1.6rem;
                    }
                    .right-account__content-profile {
                        color: $color-black;
                        padding: 8px 12px;
                        .content-profile__email {
                            padding: 6px 1px;
                        }
                        .content-profile__sign-out-button {
                            margin: 4px 0px 14px 0px;
                            width: 100%;
                            height: 32px;
                            border-radius: 3px;
                            font-family: 'artifakt-bold', sans-serif;
                            font-weight: 600;
                            font-size: 1.5rem;
                            &:hover {
                                cursor: pointer;
                                box-shadow: #3f3ff8 0 0 0 0.5px inset;
                                outline: 0.5px solid #5f60ff;
                            }
                        }
                    }
                    .right-account__category-wrapper {
                        color: $color-black;
                        border-top: 1px solid rgba(0, 0, 0, 0.2);
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .right-account__category-heading {
                            padding: 10px 12px;
                            margin-top: 12px;
                            .right-account__category-heading-content {
                                display: flex;
                                align-items: center;
                                .right-account__category-heading-icon {
                                    margin-right: 8px;
                                }
                            }
                        }
                        .right-account__category-link, 
                        .right-account__category-heading {
                            width: 100%;
                            cursor: pointer;
                            &:hover {
                                background-color: $color-window-header-hover;
                            }
                            .right-account__category-link-text {
                                padding: 10px 45px;
                            }
                        }
                    }
                }
            }
            &::after {
                content: "";
                border-style: solid;
                border-width: 8px 8px;
                border-color: transparent transparent $color-white transparent;
                position: absolute;
                bottom: -9px;
                right: 16px;
                z-index: 1;
            }
        }
        .right-account__panel-container.active {
            display: block;
        }
    }
}
.navbar {
    height: $height-nav;
    .nav__component {
        $padding-left: 14px;
        display: flex;
        position: relative;
        left: -$padding-left;
        .nav__btn {
            z-index: 10;
            .nav__btn-item {
                display: flex;
                height: $height-nav;
                color: $color-white;
                align-items: center;
                border: none;
                padding: 0px $padding-left;
                font-size: 1.4rem;
                font-family: 'artifakt-medium', sans-serif;
                &:hover {
                    cursor: pointer;
                    background-color: $color-search;
                }
                .nav_btn-dropdown {
                    margin-left: 5px;
                }
            }
        }
    }
    .navbar__product-container {
        position: absolute;
        display: none;
        .navbar__product-panel {
            width: 1000px;
            height: 494px;
            background-color: $color-white;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            position: relative;
            z-index: 10;
            .navbar__product-container-fluid {
                display: flex;
            }
            .navbar__product-section {
                display: flex;
                flex-direction: column;
                .navbar__product-section-products {
                    display: flex;
                    margin-top: 20px;
                    .navbar__product-item-products {
                        display: flex;
                        flex-direction: column;
                        color: $color-black;
                        .item-products__collection-title {
                            font-family: 'artifakt-medium', fantasy;
                            font-weight: 900;
                            font-size: 1.6rem;
                            line-height: 1.4;
                            letter-spacing: normal;
                            text-align: left;
                            color: $color-black;
                        }

                        .item-products__collection-box {
                            display: block;
                            width: 100%;
                            margin: 8px 0 16px;
                            padding: 16px 12px;
                            border: 1px solid rgba(0, 0, 0, 0.25);
                            &:hover {
                                border: 1px solid #8080ff;
                            }
                            img {
                                width: 100%;
                            }
                            p {
                                border-top: 1px solid rgba(0, 0, 0, 0.25);
                                color: rgba(33, 33, 33, 0.7);
                                padding-top: 13px;
                                margin: 14px 0 0;
                                font-family: 'artifakt-medium', sans-serif;
                                font-weight: 100;
                                font-size: 1.1rem;
                                line-height: 1.2;
                                text-align: left;
                            }
                        }
                        .item-products__collection-list {
                            margin: 12px 0px 16px 3px;
                            span {
                                font-family: 'artifakt-bold', fantasy;
                                font-weight: 700;
                                font-size: 1.55rem;
                                line-height: 1.5;
                                text-align: left;
                            }
                            .item-products__product-list {
                                display: flex;
                                flex-direction: column;
                                .item-products__item-list {
                                    margin: 6px 0px;
                                    a {
                                        font-family: 'artifakt-medium', sans-serif;
                                        font-weight: 100;
                                        color: $color-search;
                                    }
                                }
                            }
                        }
                    }
                }
                .navbar__product-section-bottom {
                    position: relative;
                    .navbar__product-section-bottom-link {
                        position: relative;
                        padding-left: 12px;
                        margin: 16px 0;
                        .navbar__product-section-bottom-item {                     
                            border-top: 1px solid rgba(0, 0, 0, 0.25);
                            display: flex;
                            align-items: center;
                            padding-left: 0px;
                            height: 82px;
                            .navbar__product-section-bottom-item-link {
                                display: flex;
                                min-width: 220px;
                                border-radius: 4px;
                                border: 1px solid $color-black;
                                padding: 6px 8px;
                                align-items: center;
                                justify-content: space-between;

                                span {
                                    font-family: 'artifakt-bold', sans-serif;
                                    font-size: 1.6rem;
                                    color: $color-black;
                                }
                                &:hover {
                                    outline: 1px solid #8080ff;
                                    cursor: pointer;
                                }
                    
                            }
                        }
                    }

                }
            }

            .navbar__product-links {
                position: absolute;
                right: 0;
                display: flex;
                flex-direction: column;
                color: $color-black;
                background-color: $color-bg;
                height: 494px;
                width: 246px;
                border-bottom-right-radius: 4px;
                .navbar__product-block-download-wrap {
                    margin-top: 22px;
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    .navbar__product-block-download {
                        .navbar__product-link-block {
                            display: flex;
                            align-items: center;
                            padding: 8px 0px;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                            p {
                                font-family: 'artifakt-bold', sans-serif;
                                font-size: 1.42rem;
                                color: $color-black; 
                            }
                        }
                    }
                }

                .navbar__product-block {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 20px;
                    p {
                        font-family: 'artifakt-bold', sans-serif;
                        font-size: 1.45rem;
                        color: $color-black; 
                    }
                }

                .navbar__product-block-list {
                    ul {
                        display: block;
                        li {
                            margin-top: 18px;
                            a {
                                color: $color-black;
                            }
                        }
                    }
                    .navbar__product-block-last-item {
                        display: flex;
                        flex-direction: column;
                        span {
                            margin-bottom: 4px;
                        }
                    }
                }
                
                .navbar__product-cart-icon {
                    height: 24px;
                    width: 24px;
                }
                .download-icon {
                    height: 22px;
                    width: 22px;
                }
            }
        }
    }
    .icon-padding-right {
        padding-right: 6px;
    }
    .icon-padding-left {
        padding-left: 6px;
    }
    .navbar__external-icon {
        height: 20px;
        width: 20px;
    }
    .navbar__caret-icon-wrap {
        transform: rotate(270deg);
    }

    .navbar__support-container,
    .navbar__learn-container,
    .navbar__community-container {
        display: none;
        position: absolute;
        width: 224px;
        z-index: 10;
    }
    .navbar__product-container.active,
    .navbar__support-container.active,
    .navbar__learn-container.active,
    .navbar__community-container.active {
        display: block;
    }
    .navbar__panel {
        background-color: $color-white;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        button {
            border: none;
            &:hover {
                cursor: pointer;
            }
        }
        .navbar__container-item-clickable {
            padding: 10px 20px 10px 16px;
            color: $color-black;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            font-size: 1.44rem;
            font-family: 'artifakt-medium', sans-serif;
            line-height: 1.3;
            .navbar__external-icon {
                position: relative;
                bottom: -4px;
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }
        }
    }
    .navbar__panel-container {
        padding: 12px 0px;
        width: 100%;
    }
}

.carousel-banner {
    background-color: $color-black;
    height: $height-carousel;
    z-index: 2;
    overflow: hidden;
    // background-image: url('/assets/2. body_carousel/aec-factoryos-hero-banner-2000x1200.jpg');
    background-size: auto 197%;
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: $height-fixedbar;
    .carousel-controls-half {
        position: relative;
        z-index: 2;
        .control-half-btn {
            $size: 45px;
            z-index: 2;
            position: absolute;
            top: -332px;
            border: none;
            background-color: $color-white;
            height: $size * 2;
            width: $size;
            display: none;
            align-items: center;
            justify-content: space-between;

            &:hover {
                cursor: pointer;
            }
            &.prev-slide {
                border-bottom-right-radius: $size * 2;
                border-top-right-radius: $size * 2;
                position: absolute;
                left: -4px;
            }
            &.next-slide {
                border-bottom-left-radius: $size * 2;
                border-top-left-radius: $size * 2;
                position: absolute;
                right: -4px;
            }
            .prev-btn-icon {
                font-size: 40px;
                padding: 0px 0px 5px 6px;
            }
            .next-btn-icon {
                font-size: 40px;
                padding: 0px 0px 5px 14px;
            }
        }
    }
}
.carousel {
    background-color: transparent;
    height: $height-carousel;
    position: relative;
    .carousel-headings-wrap {
        &::before {
            width: 40px;
            height: 84px;
            background: -moz-linear-gradient(90deg, #161616 4%, 
            rgba(22, 22, 22, 0.7) 48%, rgba(22, 22, 22, 0) 100%);
            background: -webkit-linear-gradient(90deg, #161616 4%, 
            rgba(22, 22, 22, 0.7) 48%, rgba(22, 22, 22, 0) 100%);
            background: linear-gradient(90deg, #161616 4%, 
            rgba(22, 22, 22, 0.7) 48%, rgba(22, 22, 22, 0) 100%);
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 2;
            pointer-events: none;
            display: none;
        }
        &::after {
            width: 40px;
            height: 83px;
            background: -moz-linear-gradient(270deg, #161616 4%, 
            rgba(22, 22, 22, 0.7) 48%, rgba(22, 22, 22, 0) 100%);
            background: -webkit-linear-gradient(270deg, #161616 4%, 
            rgba(22, 22, 22, 0.7) 48%, rgba(22, 22, 22, 0) 100%);
            background: linear-gradient(270deg, #161616 4%, 
            rgba(22, 22, 22, 0.7) 48%, rgba(22, 22, 22, 0) 100%);
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 2;
            pointer-events: none;
            display: none;
        }
    }
    .carousel__headings {
        display: flex;
        font-size: 1.55rem;
        position: relative;
        top: 78px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-left: 8px;
        z-index: 1;
        .carousel-heading {
            opacity: 0.7;
            padding: 0px 2px 10px 2px;
            margin: 0px 32px 0px 0px;
            border-bottom: 1px solid transparent;
            user-select: none;
            &:hover {
                cursor: pointer;
                opacity: 1;
                border-color: rgba(255, 255, 255, 1);
            }
            &.active {
                opacity: 1;
                border-color: rgba(255, 255, 255, 1);
            }
        }


    }
    .carousel__toggle {
        position: relative;
        .carousel-slide {
            position: absolute;
            width: 100%;
            .slide__text {
                position: absolute;
                z-index: 1;
                font-family: 'artifakt-bold', sans-serif;
                font-size: 2.2rem;
                line-height: 5.2rem;
                top: 214px;
                .slide__text-line {
                    font-weight: 900;
                }
            }

            .slide__copyright {
                position: absolute;
                font-size: 1.25rem;
                top: 540px;
                color: rgba(255, 255, 255, 0.6);
            }
            display: none;
            &.go-shop {
                display: block;
                top: 390px;
                width: 174px;
                background-color: $color-white;
                color: $color-black;
                font-size: 1.6rem;
                padding: 12px 20px;
                border-radius: 4px;
                &:hover {
                outline: 2px solid #5f60ff;
                outline-offset: 2px;
                }
            }
            &.active {
                display: block;
            }
        }
    }
}
.carousel {
    position: relative;
    .carousel-controls {
        z-index: 2;
        .control-btn {
            position: absolute;
            top: 0.44 * $height-carousel;
            border: none;
            background-color: $color-white;
            border-radius: 50%;
            width: 55px;
            height: 55px;
            display: inline-flex;
            &:hover {
                cursor: pointer;
            }
            .control-btn-icon {
                font-size: 40px;
                padding-left: 14px;
            }
            &.prev-slide {
                position: relative;
                right: 80px;
            }
            &.next-slide {
                position: relative;
                left: 1170px;
            }
        }

    }
}
.carousel-core-react.grid.wide {
    max-width: 1260px;
}
.core-react {
    margin-top: 45px;
    display: none;
    .core-react__item {
        background-color: $color-white;
        font-family: 'artifakt-bold';
        margin: 0px 10px 30px 10px;
        border-radius: 6px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.28);
        overflow: hidden;
        .core-react__link {
            color: $color-black;
            position: relative;
            .item-content {
                .item-content__text {
                    font-size: 2.4rem;
                    line-height: 2.8rem;
                    font-weight: 900;
                    letter-spacing: 0.05rem;
                    margin: 30px 28px 10px 30px;
                    min-height: 185px;
                    .item-content__heading-text {
                        line-height: 1;
                    }
                    .item-content__content-text {
                        line-height: 1.4;
                        margin: 22px 20px 0 0;
                    }
                    .item-content__headline-text {
                        margin-bottom: 10px;
                    }
                }
            }
            &:hover {
                .item-content {
                    .direction-wrap {
                        .direction {
                            .direction-icon {
                                background-color: $color-white;
                                fill: $color-black;
                                border: none;
                            }
                        }
                    }
                }
            }
            .img-wrap {
                .item-img {
                    margin-bottom: -6px;
                    .item-img__copyright-text {
                        position: absolute;
                        color: $color-white;
                        bottom: 5px;
                        margin: 30px 28px 28px 28px;
                        z-index: 2;
                    }
                    .item-link-img {
                        width: 100%;
                    }
                }
            }
        }
        &.item-aec {
            .core-react__link {
                display: flex;
                .img-wrap {
                    position: relative;
                    .item-img {                       
                        .item-link-img {
                            width: 191%;
                        }
                    }
                }
            }
        }
        &.item-news {
            .core-react__link {
                display: flex;
                .img-wrap {
                    position: relative;
                    .item-img {                       
                        .item-link-img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        &.item-buy.buy-aec {
            .core-react__link {
                .item-content {
                    display: flex;
                    flex-direction: column;
                    align-content: space-between;
                    .item-content__text {
                        min-height: 68px;
                        margin-bottom: 4px;
                    }
                    .item-content__buy {
                        display: flex;
                        align-items: center;
                        padding-right: 30px;
                        .item-content__img-buy {
                            margin: 20px;
                            width: 14%;
                        }
                        .item-content__buy-text {
                            font-size: 1.6rem;
                            font-family: 'artifakt-medium', sans-serif;
                        }
                    }
                }
            }
        }
        &.item-buy.buy-pdm-me {
            .core-react__link {
                .item-content {
                    display: block;
                    align-items: center;
                    padding-bottom: 8px;
                    .item-content__text {
                        min-height: 34px;
                    }
                    .row {
                        margin: 10px 6px 10px 6px;
                        .item-content__buy {
                            display: flex;
                            align-items: center;
                            padding-right: 20px;
                            .item-content__img-buy {
                                margin: 20px;
                                width: 18%;
                            }
                            .item-content__buy-text {
                                font-size: 1.6rem;
                                font-family: 'artifakt-medium', sans-serif;
                            }
                        }
                        .direction-wrap {
                            .direction {        
                                margin: 0px 2px 10px 20px;
                                padding-right: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
.core-react.active {
    display: flex;
}
.direction-wrap {
    .direction {
        display: flex;
        margin: 0px 32px 10px 30px;
        padding-top: 12px;
        min-height: 76px;
        font-size: 1.6rem;
        font-family: 'artifakt-medium', sans-serif;
        border-top: 1px solid rgba(0, 0, 0, 0.25);
        .direction-icon {
            min-width: 29px;
            margin: 1px;
            padding: 0.7px;
            border: 0.7px solid $color-black;
            background: $color-black;
            fill: $color-white;
            border-radius: 50%;
        }
        .direction-text {
            margin: 7px 0px 0px 10px;
            line-height: 1.2;
        }
    }
}

.img-wrap {
    position: relative;
    .item-img {
        margin-bottom: -6px;
        .item-img__copyright-text {
            position: absolute;
            color: $color-white;
            bottom: 5px;
            margin: 30px 28px 28px 28px;
            z-index: 2;
            font-size: 1.1rem;
        }
    }
    .img-gradient.item-img::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 150px;
        background-image: linear-gradient(0deg, 
        rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0));   
        bottom: 0px;                            
    }
}
.xfpage {
    height: 518px;
    margin: 70px 0px;
    background-color: $color-black;
    background-image: url('assets/img/2_body_container/future-of-work-banner-2000x1200-2.jpg');
    background-size: auto 190%;
    background-position: center top;
    background-repeat: no-repeat;
    .xfpage-content {
        position: relative;
        .xfpage-item {
            position: absolute;
            top: 120px;
            right: 0;
            .xfpage-item--text {
                color: $color-white;
                padding: 28px 50px 0px 0px;
    
                .xfpage-item--heading-text {
                    font-size: 4.1rem;
                    line-height: 4rem;
                    font-family: "artifakt-bold", serif;
                }
                .xfpage-item--content-text {
                    margin-top: 10px;
                    font-size: 1.7rem;
                    line-height: 2.2rem;
                    letter-spacing: 0.02rem;
                }
            }
            .direction-wrap {
                .direction {
                    color: $color-white;
                    margin: 0;
                    border: none;
                    .direction-icon {
                        background-color: $color-white;
                        fill: $color-black;
                        border: none;
                    }
                    .direction-text {
                        font-size: 1.8rem;
                        line-height: 1;
                    }
                }
            }
        }
    }
}
.app__footer {
    background-color: $color-footer;
    color: $color-footer-text;
    margin-top: 48px;
    a {
        color: $color-footer-text;
    }
    &::before {
        content: "";
        position: absolute;
        border-top: 0.5px solid rgba(0, 0, 0, 0.15);
        width: 100%;
    }
    .grid.wide {
        .row {
            .footer-col.col {
                margin-bottom: 12px;
            }
        }
    }
}
.footer-col.m-3 {
    padding-left: 10px;
}
.footer__items {
    margin: 22px 0px 2px 10px;
    .footer__heading {
        font-size: 1.6rem;
        line-height: 1.3;
        margin-bottom: 8px;
    }
    .footer__heading.footer-item__link {
        &:hover {
            color: $color-black;
            font-family: 'artifakt-medium', fantasy;
            text-decoration: underline !important;
            text-underline-offset: 4px;
        }
    }
    .footer__list, .footer__list-media {
        .footer-item__link {
            display: flex;
            font-size: 1.4rem;
            line-height: 1.3;
            align-items: center;
            margin: 10px 0px;
            &:hover {
                color: $color-black;
                font-family: 'artifakt-medium', fantasy;
                text-decoration: underline !important;
                text-underline-offset: 2.1px;
            }
        }
        .footer-item__follow {
            display: flex;
            font-size: 1.4rem;
            line-height: 1.3;
            align-items: center;
            margin: 6px 0px;
        }
        .footer-worldwide {
            border-top: 0.5px solid rgba(0, 0, 0, 0.15);
            padding: 12px 0px;
            margin-right: 12px;
        }

        .about-us {
            font-style: italic;
        }
        .media-items {
            display: flex;
            flex-direction: column;
        }
        .footer-icon {
            height: 24px;
            margin-right: 10px;
        }
    }
}
.footer__items.footer-media {
    width: 100%;
}

.footer-col {
    position: relative;
    .footer__items.y-bar {
        &::after {
            content: "";
            position: absolute;
            height: 94%;
            top: 20px;
            left: 2px;
            border-left: 0.8px solid rgba(0, 0, 0, 0.25);
        }
    }
    .footer__items.y-bar-toggle {
        &::after {
            content: "";
            position: absolute;
            height: 94%;
            top: 20px;
            left: 2px;
            border-left: 0.8px solid rgba(0, 0, 0, 0.25);
        }
    }
}

.footer-privacy {
    background-color: $color-footer-privacy;
    border-top: 0.5px solid rgba(0, 0, 0, 0.15);

}
.footer__privacy-wrap {
    display: block;
    padding: 28px 20px;
    .footer__privacy-items {
        margin-bottom: 4px;
        .footer-item__link {
            margin-right: 8px;
            position: relative;
            line-height: 1.8;
            &:not(:last-child):after {
                content: "";
                position: relative;
                border-right: 0.5px solid rgba(0, 0, 0, 0.45);
                left: 6px;
            }
        }
        .underline:hover {
            border-bottom: 0.5px solid rgba(0, 0, 0, 1);
        }
    }
}
.footer-item__link,
.footer-item__copyright {
    font-size: 1.2rem;
    color: $color-footer-text;
}
/* #endregion */


