@import './variables.scss';

/* #region Genaral */

.grid {
    width: 100%;
    display: block;
    padding: 0;
    &.wide {
        max-width: 1220px;
        margin: 0 auto;
    }
    .row {
        .col {
            margin: 0 0;
            display: flex;
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    &.no-gutters {
        margin-left: 0;
        margin-right: 0;
        .col {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}
/* #endregion Genaral */

@media (min-width: 280px) and (max-width: 480px) {

}
@media (max-width: 480px) {
    .header {
        .header__right {
            .header__right-search-mini, .header__right-cart, .header__right-language {
                display: none;
            }
            .header__right-mini-dot {
                display: block;
            }
        }
    }
    .carousel {
        .carousel__headings {
            .carousel-heading {
                font-size: 1.3rem;
            }
        }
        .carousel__toggle {
            .carousel-slide {
                .slide__text {
                    font-size: 1.4rem;
                    line-height: 3.2rem;
                }
            }
        }
    }
    .core-react {
        .core-react__item {    
            .core-react__link {
                &.item-buy.buy-pdm-me {
                    .core-react__link {
                        .item-content {
                            .row {
                                .item-content__buy {
                                    .item-content__img-buy {
                                        width: 10%;
                                    }
                                }
                                .direction-wrap {
                                    position: relative;
                                    margin-top: 85px;
                                    .direction {
                                        padding-right: 30px;
                                        margin: 0px 20px 10px 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .xfpage {
        height: 548px;
        background-size: auto 70%;
        background-position: 30% top;
        .xfpage-content {
            .xfpage-item {
                padding-left: 30px;
                top: 248px;
                .xfpage-item--text {
                    .xfpage-item--heading-text {
                        font-size: 2.3rem;
                        line-height: 2.3rem;
                    }
                }
                .xfpage-item--content-text {
                    margin-top: 0px;
                    font-size: 0.9rem;
                    line-height: 0.8rem;
                    overflow: hidden;
                    display: block;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 6;
                }
            }
        }
    }
    .footer__items {
        margin: 10px 0px 0px 10px;
        .footer__list-media {
            .footer-worldwide {
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
            }
        }
        .footer__list {
            display: none;
        }
    }
    .row {
        margin-left: -2px;
        margin-right: -2px;
    }
    .col {
        padding-left: 2px;
        padding-right: 2px;
    }
    .c-0 {
        display: none;
    }
    .c-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .c-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .c-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .c-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .c-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .c-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .c-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .c-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .c-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .c-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .c-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .c-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .c-o-1 {
        margin-left: 8.33333%;
    }
    .c-o-2 {
        margin-left: 16.66667%;
    }
    .c-o-3 {
        margin-left: 25%;
    }
    .c-o-4 {
        margin-left: 33.33333%;
    }
    .c-o-5 {
        margin-left: 41.66667%;
    }
    .c-o-6 {
        margin-left: 50%;
    }
    .c-o-7 {
        margin-left: 58.33333%;
    }
    .c-o-8 {
        margin-left: 66.66667%;
    }
    .c-o-9 {
        margin-left: 75%;
    }
    .c-o-10 {
        margin-left: 83.33333%;
    }
    .c-o-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .header .header__right .header__right-search-mini {
        display: block;
    }
    .carousel {
        .carousel__headings {
            .carousel-heading {
                font-size: 1.4rem;
            }
        }
        .carousel__toggle {
            .carousel-slide {
                .slide__text {
                    font-size: 1.8rem;
                    line-height: 4.2rem;
                }

            }
        }
    }
    .core-react {
        .core-react__item {    
            .core-react__link {
                .item-content__buy {
                    display: flex;
                    .item-content__img-buy {
                        margin: 20px;
                        width: 10%;
                    }
                }
            }
            &.item-buy.buy-aec {
                .core-react__link {
                    .item-content {
                        .item-content__buy {
                            .item-content__img-buy {
                                margin: 24px;
                                width: 10%;
                            }
                        }
                        .direction-wrap {
                            margin-top: 85px;
                        }
                    }
                }
            }
            &.item-buy.buy-pdm-me {
                .core-react__link {
                    .item-content {
                        .row {
                            .item-content__buy {
                                .item-content__img-buy {
                                    margin: 20px;
                                    width: 10%;
                                }
                            }
                            .direction-wrap {
                                position: relative;
                                margin-top: 85px;
                                .direction {
                                    margin: 0px 20px 10px 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .xfpage {
        background-size: auto 100%;
        .xfpage-content {
            .xfpage-item {
                padding-left: 30px;
                top: 260px;
                .xfpage-item--text {
                    .xfpage-item--heading-text {
                        font-size: 3.2rem;
                        line-height: 3rem;
                    }
                }
            }
        }
    }
    .footer__items {
        margin: 10px 0px 0px 10px;
        .footer__list-media {
            .footer-worldwide {
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
            }
        }
        .footer__list {
            display: none;
        }
    }
    .row {
        margin-left: -4px;
        margin-right: -4px;
    }
    .col {
        padding-left: 4px;
        padding-right: 4px;
    }
    .m-0 {
        display: none;
    }
    .m-1,
    .m-2,
    .m-2-4,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }
    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .m-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .m-o-1 {
        margin-left: 8.33333%;
    }
    .m-o-2 {
        margin-left: 16.66667%;
    }
    .m-o-3 {
        margin-left: 25%;
    }
    .m-o-4 {
        margin-left: 33.33333%;
    }
    .m-o-5 {
        margin-left: 41.66667%;
    }
    .m-o-6 {
        margin-left: 50%;
    }
    .m-o-7 {
        margin-left: 58.33333%;
    }
    .m-o-8 {
        margin-left: 66.66667%;
    }
    .m-o-9 {
        margin-left: 75%;
    }
    .m-o-10 {
        margin-left: 83.33333%;
    }
    .m-o-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .footer__items {
        .footer__list-media {

            .media-items {
                display: flex;
                flex-direction: row;
                align-items: center;

            }
        }
    }
    .sm-0 {
        display: none;
    }
    .sm-1,
    .sm-2,
    .sm-2-4,
    .sm-3,
    .sm-4,
    .sm-5,
    .sm-6,
    .sm-7,
    .sm-8,
    .sm-9,
    .sm-10,
    .sm-11,
    .sm-12 {
        display: block;
    }
    .sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .sm-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .header {
        .header__left {            
            .header__left-search {
                display: none;
            }
        }
    }
    .carousel-banner {
        background-image: url('/assets/img/2. body_carousel/aec-factoryos-hero-banner-mobile-800x500-4.jpg');
        background-size: auto 80%;
        background-position: 60% 65%;
        background-repeat: no-repeat;
        .carousel-controls-half {
            .control-half-btn {
                top: -400px;
            }
        }
    }
    .carousel {
        .carousel-headings-wrap {
            &::before {
                display: block;
            }
            &::after {
                display: block;
            }
        }
        .carousel__headings {
            height: 80px;
            overflow: scroll;
            overflow-x: scroll;
            position: absolute;
            background: #280909;
            left: -8px;
            right: 0px;
            top: 0px;
            padding: 34px 32px 0px 32px;
            border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
            .carousel__heading {
                border-bottom: 2px solid rgba(255, 255, 255, 1);
                padding: 0px;
                margin: 0px 30px;
                z-index: 2;
            }
            #carousel-heading-1 {
                width: 178px;
                min-width: 178px;
            }
            #carousel-heading-2 {
                width: 116px;
                min-width: 116px;
            }
            #carousel-heading-3 {
                width: 100px;
                min-width: 100px;
            }
            &::-webkit-scrollbar {
                display: none;
            }

        }
        .carousel__toggle {
            .carousel-slide {
                .slide__text {
                    left: 54px;
                    top: 280px;
                }
                .slide__copyright {
                    font-size: 1.2rem;
                    top: 570px;
                }
                &.go-shop {
                    left: 56px;
                    top: 430px;
                }
            }
        }
    }
    .core-react {
        .core-react__item {
            &.item-news {
                .core-react__link {
                    display: block;
                    .img-wrap {
                        .item-img {
                            .item-link-img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .app__footer {
        margin-top: 0px;
    }
    .footer-col {
        .footer__items.y-bar {
            &::after {
                border: none;
            }
        }
        .footer__items.y-bar-toggle {
            &::after {
                border: none;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .core-react {
        .core-react__item {
            .core-react__link {
                .item-content__buy {
                    display: inline-block;
                    .item-content__img-buy {
                        margin: 20px;
                        width: 20%;
                    }
                }
            }
            &.item-buy {
                .core-react__link {
                    .item-content {
                        .item-content__buy {
                            padding-right: 0px;
                        }
                    }
                }
            }
            &.item-buy.buy-pdm-me {
                .core-react__link {
                    .item-content {
                        .row {
                            .item-content__buy {
                                padding-right: 50px;
                            }
                            .direction-wrap {
                                position: relative;
                                margin-top: 75px;
                                .direction {
                                    padding-right: 30px;
                                    margin: 0px 20px 10px 20px;
                                }
                            }
                        }
                    }
                }
            }
            &.item-news {
                .core-react__link {
                    .img-wrap {
                        .item-img {   
                            object-fit: contain;                  
                            .item-link-img {
                                width: 145%;
                                object-fit: contain;                  
                                object-position: -20% 0%;
                            }
                        }
                    }
                }
            }
        }
    }
    .xfpage {
        .xfpage-content {
            .xfpage-item {
                top: 150px;
            }
        }
    }
    .footer__items {
        .footer__list-media {
            .media-items {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                align-content: space-between;
                flex: 1;
                .media-item {
                    margin-right: 0px;
                }
            }
            .footer-worldwide {
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
            }
        }
    }
    .row {
        margin-left: -8px;
        margin-right: -8px;
        &.sm-gutter {
            margin-left: -5px;
            margin-right: -5px;
            .col {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        
    }
    .col {
        padding-left: 8px;
        padding-right: 8px;
    }
    .l-0 {
        display: none;
    }
    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }
    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-o-1 {
        margin-left: 8.33333%;
    }
    .l-o-2 {
        margin-left: 16.66667%;
    }
    .l-o-3 {
        margin-left: 25%;
    }
    .l-o-4 {
        margin-left: 33.33333%;
    }
    .l-o-5 {
        margin-left: 41.66667%;
    }
    .l-o-6 {
        margin-left: 50%;
    }
    .l-o-7 {
        margin-left: 58.33333%;
    }
    .l-o-8 {
        margin-left: 66.66667%;
    }
    .l-o-9 {
        margin-left: 75%;
    }
    .l-o-10 {
        margin-left: 83.33333%;
    }
    .l-o-11 {
        margin-left: 91.66667%;
    }
}

@media (max-width: 1024px) {
    .header {
        .header__left {
            .header__left-mini-bar {
                display: block;
            }
            .header__left-logo {
                width: 100px;
            }
        }
    }
    .navbar {
        display: none;
    }
    .carousel-banner {
        margin-top: $height-header;
    }
    .core-react {
        .core-react__item {
            &.item-aec {
                .core-react__link {
                    display: block;
                    .img-wrap {
                        .item-img {
                            .item-link-img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media (min-width: 1025px) and (max-width: 1280px) {
    .core-react {
        .core-react__item {
            &.item-aec {
                .core-react__link {
                    .item-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-bottom: 10px;
                    }
                }
            }
            &.item-buy.buy-pdm-me {
                .core-react__link {
                    .item-content {
                        .row {
                            .direction-wrap {
                                position: relative;
                                .direction {
                                    border: none;
                                    &::after {
                                        content: "";
                                        position: absolute;
                                        border-left: 0.5px solid rgba(0, 0, 0, 0.35);
                                        height: 46px;
                                        left: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.item-news {
                .core-react__link {
                    .img-wrap {
                        .item-img {                       
                            .item-link-img {
                                width: 120%;
                            }
                        }
                    }
                }
            }
        }
    }
    .wide {
        .row {
            margin-left: 10px;
            margin-right: 10px;
            &.sm-gutter {
                margin-left: -5px;
                margin-right: -5px;
                .col {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
        .col {
            padding-left: 12px;
            padding-right: 12px;
        }
        .core-react {
            .col {
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }

    .wide .lg-0 {
        display: none;
    }
    .wide .lg-1,
    .wide .lg-2,
    .wide .lg-2-4,
    .wide .lg-3,
    .wide .lg-4,
    .wide .lg-5,
    .wide .lg-6,
    .wide .lg-7,
    .wide .lg-8,
    .wide .lg-9,
    .wide .lg-10,
    .wide .lg-11,
    .wide .lg-12 {
        display: block;
    }
    .wide .lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .wide .lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .wide .lg-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .wide .lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .wide .lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .wide .lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .wide .lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .wide .lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .wide .lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .wide .lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .wide .lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .wide .lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .wide .lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .wide .lg-o-1 {
        margin-left: 8.33333%;
    }
    .wide .lg-o-2 {
        margin-left: 16.66667%;
    }
    .wide .lg-o-3 {
        margin-left: 25%;
    }
    .wide .lg-o-4 {
        margin-left: 33.33333%;
    }
    .wide .lg-o-5 {
        margin-left: 41.66667%;
    }
    .wide .lg-o-6 {
        margin-left: 50%;
    }
    .wide .lg-o-7 {
        margin-left: 58.33333%;
    }
    .wide .lg-o-8 {
        margin-left: 66.66667%;
    }
    .wide .lg-o-9 {
        margin-left: 75%;
    }
    .wide .lg-o-10 {
        margin-left: 83.33333%;
    }
    .wide .lg-o-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 1220px) {
    .core-react {
        .core-react__item {
            &.item-aec {
                .core-react__link {
                    .item-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-bottom: 20px;
                    }
                }
            }
            &.item-buy.buy-pdm-me {
                .core-react__link {
                    .item-content {
                        .row {
                            .direction-wrap {
                                position: relative;
                                .direction {
                                    border: none;
                                    &::after {
                                        content: "";
                                        position: absolute;
                                        border-left: 0.5px solid rgba(0, 0, 0, 0.35);
                                        height: 46px;
                                        left: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.item-news {
                .core-react__link {
                    .item-content {
                        .direction-wrap {
                            margin-top: 60px;
                        }
                    }
                }
            }
        }
    }

    .wide {
        .row {
            margin-left: -12px;
            margin-right: -12px;
            &.sm-gutter {
                margin-left: -5px;
                margin-right: -5px;
                .col {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
        .col {
            padding-left: 12px;
            padding-right: 12px;
        }
    }


    .wide .xl-0 {
        display: none;
    }
    .wide .xl-1,
    .wide .xl-2,
    .wide .xl-2-4,
    .wide .xl-3,
    .wide .xl-4,
    .wide .xl-5,
    .wide .xl-6,
    .wide .xl-7,
    .wide .xl-8,
    .wide .xl-9,
    .wide .xl-10,
    .wide .xl-11,
    .wide .xl-12 {
        display: block;
    }
    .wide .xl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .wide .xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .wide .xl-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .wide .xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .wide .xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .wide .xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .wide .xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .wide .xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .wide .xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .wide .xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .wide .xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .wide .xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .wide .xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .wide .xl-o-1 {
        margin-left: 8.33333%;
    }
    .wide .xl-o-2 {
        margin-left: 16.66667%;
    }
    .wide .xl-o-3 {
        margin-left: 25%;
    }
    .wide .xl-o-4 {
        margin-left: 33.33333%;
    }
    .wide .xl-o-5 {
        margin-left: 41.66667%;
    }
    .wide .xl-o-6 {
        margin-left: 50%;
    }
    .wide .xl-o-7 {
        margin-left: 58.33333%;
    }
    .wide .xl-o-8 {
        margin-left: 66.66667%;
    }
    .wide .xl-o-9 {
        margin-left: 75%;
    }
    .wide .xl-o-10 {
        margin-left: 83.33333%;
    }
    .wide .xl-o-11 {
        margin-left: 91.66667%;
    }
}

@media (max-width: 1360px) {
    .carousel {
        .carousel-controls {
            .control-btn {
                display: none;
            }
        }
        .carousel__toggle {
            .carousel-slide {
                .slide__text {
                    left: 54px;
                }
                .slide__copyright {
                    left: 56px;
                }
                &.go-shop {
                    left: 56px;
                    
                }
            }
        }
    }
    .carousel-banner {
        .carousel-controls-half {
            .control-half-btn {
                display: flex;
            }
        }
    }

}
