/* #region GENERAL */
.app {
    overflow: hidden;
}

.app__header {
    height: var(--header-height);
    background-color: var(--black-color);
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
}
h3 {
    font-size: 1.4rem;
    margin: 0;
}
h4 {
    text-decoration: none;
}
a {
    color: var(--white-color);
} 
ul {
    margin: 0;
    padding: 0;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.68);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1;
}

/* #endregion GENERAL */

/* #region .header__navbar */
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar::after {
    content: "";
    position: absolute;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.15);
    width: 100%;
    right: 0;
    top: var(--header-navbar-height);
}
    /* #region .header__LEFT */
.header__navbar-left {
    display: flex;
    flex-direction: row;
    background-color: var(--black-color);
    height: var(--header-navbar-height);
}
.autodesk-logo {
    width: 140px;
    height: 100%;
}

.autodesk-logo-new {
    margin: 20px 0px;
}
.header__search {
    display: flex;
}
.header__search-input-wrap {
    flex: 1;
    position: relative;
    background-color: var(--black-color);
    margin: auto 49px;
    overflow: hidden;
}
.header__search-input:hover {
    cursor: auto;
    background-color: #333; 
}
.header__search-input:focus {
    border-color: rgb(6, 150, 215);
    box-shadow: rgb(95 96 255) 0 0 0 1px inset;

}

.header__search-input:focus ~.header__search-history {
    display: block;
}

.header__search-input {
    width: var(--search-bar-width);
    height: 40px;
    border: none;
    outline: none;
    padding: 0px 34px;
    background-color: var(--search-color);
    color: var(--white-color);
    border-radius: 4px;
    font-size: 1.6rem;
    line-height: 3.2rem;
}

.header__search-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 7px;
    top: 8px;

}
.header__search-icon-img {
    cursor: default;
    background-color: transparent;
    opacity: 1;
    stroke: rgb(255, 255, 255);
}
.header__search-history {
    position: fixed;
    background-color: var(--white-color);
    min-height: 40px;
    margin-top: 2px;
    width: var(--search-bar-width);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    position: absolute;
    color: rgba(33, 33, 33, 0.8);
    font-weight: lighter;
    margin-left: 12px;
    top: 50%;
    transform: translateY(-50%);
}
    /* #endregion .header__LEFT */

    /* #region .header__RIGHT */
.header__navbar-right {
    display: flex;
    float: right;
    flex-direction: row;
    background-color: var(--black-color);
    height: var(--header-navbar-height);
}
        /* #region .header__navbar-cart */
.header__search-mini {
    position: relative;
    
}
.header__navbar-cart {
    width: 50px;
}
.header__navbar-cart-wrap {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

}
.header__cart-icon {
    position: absolute;
    height: 42px;
    color: var(--white-color);
    border-radius: 4px;
    padding: 9px 10px;
    top: -4px;
}


.header__cart-notice {
    position: absolute;
    left: 20px;
    top: 6px;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.header__cart-icon:hover {
    background-color: var(--search-color);
}
.header__cart-icon-check {
    position: absolute;
    top: 50px;
    display: none;
}
        /* #endregion .header__navbar-cart */

        /* #region .header__navbar-language */
.header__navbar-language {
    width: 66px;
}     
.header__navbar-language-btn {
    text-transform: none;
    position: static;
    width: 66px;
    text-align: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    margin: 7px 0px 4px 0px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.header__navbar-language-btn:hover {
    cursor: pointer;
    background-color: var(--search-color);
}

.header__navbar-language-btn:focus {
    outline: 1px solid rgb(95 96 255);
}
.header__navbar-language-btn:focus ~ .header__navbar-language-list {
    display: block;
}
.header__navbar-language-icon {
    width: 24px;
    margin: 8px 2px 8px 2px;
}

.header__navbar-language-text {
    color: var(--white-color);
    margin: 12px 0px 0px 2px;
}
        /* #endregion .header__navbar-language */

        /* #region .header__navbar-account */
.header__navbar-account {
    width: 52px;
}
.header__navbar-account-btn {
    display: flex;
    text-transform: none;
    position: static;
    width: 66px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    margin: 7px 0px 4px 0px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}
.header__navbar-account-wrap {
    position: relative; 
    left: -4px;
    border-radius: 4px;
    padding: 0px 8px 2px 8px;
}
.header__navbar-account-wrap:hover {
    cursor: pointer;
    outline: 1px solid rgb(95 96 255);
}

.header__navbar-account-img {
    width: 31px;
    margin: 5px 0 0 0px;
    border-radius: 50%;
}
        /* #endregion .header__navbar-account */
    /* #endregion .header__RIGHT */

/* #endregion .header__navbar */

/* #region .header__navbar modal*/

.header__navbar-language-list {
    background-color: var(--white-color);
    width: 255px;
    height: 450px;
    border-radius: 2px;
    z-index: 20;
    position: relative;
    right: 216px;
    top: 2px;
    display: none; 
}
.header__navbar-language-selector {
    background-color: var(--white-color);
    width: 255px;
    height: 450px;
    padding: 18px 0px 16px 0px;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.header__navbar-language-selector::after {
    content: "";
    border-style: solid;
    border-width: 15px 19px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -22px;
    right: 0px;
}
.header__navbar-language-selector:hover .header__navbar-language-selector-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
} 
.header__navbar-language-selector-container {
    list-style: none;
    max-height: 415px;
    overflow-y: auto;
}
.header__navbar-language-selector-container::-webkit-scrollbar {
    width: 6px;
  }
.header__navbar-language-selector-container::-webkit-scrollbar-track {
    background: var(--white-color);
  }
.header__navbar-language-selector-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
.header__navbar-language-selector-item {
    padding: 9.3px 0px 9.3px 30px;
}
.header__navbar-language-selector-item.language-selected {
    background-color: rgba(0, 0, 0, 0.05);
}
.header__navbar-language-selector-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.header__navbar-language-selector-a {
    color: var(--search-color);
}
.language-selector__small-checkmark-icon {
    margin-left: 85px;    
}


.header__navbar-account--panel-container {
    --margin-left: 16px;
    position: relative;
    width: 275px;
    right: 224px;
    top: 8px;
    display: none;
}
.header__navbar-account-btn:focus ~ .header__navbar-account--panel-container {
    display: block;
}

.header__navbar-account--panel-container-inner {
    width: 275px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 4px;
    
}
.header__navbar-account--content::before {
    content: "";
    border-style: solid;
    border-width: 16px 16px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -25px;
    right: 10px;
}
.header__navbar-account--content-profile {
    color: var(--black-color);
    height: 124px;
    position: relative;
    margin: 0px 20px 0px var(--margin-left);
    padding-top: 20px;
}

.content-profile__name {
    font-size: 1.5rem;
    font-family: 'artifakt-bold', fantasy;
    position: relative;
    margin: 0;
}
.content-profile__email {
    position: relative;
    margin: 6px 0px 9px 0px;
}
.content-profile__sign-out {
    position: relative;
}

.sign-out-button--text {
    position: relative;
    top: -1px;
}
.content-profile__sign-out-button {
    width: 100%;
    height: 32px;
    border-radius: 3px;
}
.content-profile__sign-out-button:hover {
    box-shadow: rgb(63, 63, 248) 0 0 0 1px inset;
    outline: 1px solid rgb(95 96 255);
    cursor: pointer;
}
.sign-out-button--text {
    margin: 0;
}
.header__navbar-account--category-wrapper {
    color: var(--black-color);
    margin-left: calc(var(--margin-left) - 4px);
    position: relative;
    height: 176.6px;
}
.header__navbar-account--category-heading {
    position: relative;
}
.header__navbar-account--category-heading::after {
    content: "";
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    width: 275px;
    top: -3px;
    left: calc(var(--margin-left) * -1 + 4px);
}

.header__navbar-account--category-heading-content {
    display: flex;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    padding-top: 9px;
}
.header__navbar-account--category-heading-icon {
    margin-right: 10px;
}

.header__navbar-account--category-heading {
    color: var(--black-color);
    font-size: 1.5rem;
    font-family: 'artifakt-bold', fantasy;
    cursor: pointer;

}
.header__navbar-account--category-link {
    color: var(--black-color);
    font-size: 1.4rem;
    cursor: pointer;

}
.header__navbar-account--category-link-text {
    margin: 7px 0px 21px 34px;

}



/* #endregion .header__navbar modal*/

/* #region .header__fix */
.header__fix {
    width: 500px;
    height: var(--fixedbar-height);
    background-color: var(--fixedbar-color);
}

.header__fix-component {
    --left-pull: 16px;
    position: relative;
    display: flex;
    text-decoration: none;
    list-style: none;
    height: 100%;
    justify-content: flex-start;
    left: calc(var(--left-pull) * -1);
}
.header__fix-btn {
    display: flex;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
.header__fix-btn-item {
    height: 100%;
    color: var(--white-color);
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-family: 'artifakt-medium', sans-serif;
    font-weight: 400;
    padding-left: var(--left-pull);
    padding-right: calc(var(--left-pull) + 9px);
    position: relative;
    transform: translateY(-4%);
}
.header__fix-btn-dropdown {
    position: absolute;
    margin: 3px 4px;
    
}
.header__fix-btn-item:hover {
    cursor: pointer;
    background-color: var(--search-color);
}

/* #endregion .header__fix */

/* #region .header__fix modal*/

        /* #region Fixed Bar Product Button */

.header__fix-product-panel {
    --window-width: 1000px;
    --window-length: 494px;
    width: var(--window-width);
    height: var(--window-length);
    background-color: var(--white-color);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 10;
}

#toggle1:checked ~ .header__fix-product-container {
    display: block;
}

.header__fix-btn--product-item:focus ~ .header__fix-product-container {
    display: block;
}

.header__fix-btn-item:focus .header__fix-btn-dropdown {
    transform: rotate(180deg);
}

.header__fix-product-container {
    position: absolute; 
    top: var(--fixedbar-height);
    left: 4px;
    display: none;
}

.header__fix-product-container-fluid {
    display: flex;
}
.col.l-9.header__fix-product--section {
    padding-left: 0px;
    margin-right: 8px;
}

.header__fix-product--section-products {
    display: flex;
}
.header__fix-product--item-products {
    padding-top: 21px;
}
.col.l-4.header__fix-product--item-products {
    padding-left: 13px;
    padding-right: 6px;
}
.item-products__collection-title {
    font-family: 'artifakt-bold', fantasy;
    font-weight: 200;
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-color);
}
.item-products__collection-box {
    margin: 8px 0 16px;
    padding: 16px 12px;
    border: 1px solid var(--popup-win-line);
    display: block;
    text-decoration: none;
}
.item-products__collection-box:hover {
    border: 1px solid #8080ff;
}
.item-products__collection-box img {
    width: 100%;
}
.item-products__collection-box p {
    border-top: 1px solid var(--popup-win-line);
    color: rgba(33, 33, 33, 0.7);
    padding-top: 13px;
    margin: 14px 0 0;
    font-family: 'artifakt-medium', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.25;
    text-align: left;
}
.item-products__collection-list {
    margin: 12px 0px 16px 3px;
}
.item-products__collection-list span {
    color: var(--black-color);
    margin: 0 32px 0 4px;
    font-family: 'artifakt-bold', fantasy;
    font-weight: 700;
    font-size: 1.55rem;
    line-height: 1.5;
    text-align: left;
}
.item-products__collection-list span {
    margin: 0;
    padding: 0;
}
.item-products__collection-list ul {
    list-style: none;
}
.item-products__collection-list li {
    margin: 6px 0px;
    line-height: 1.5;  
}
.item-products__collection-list a {
    color: rgba(33, 33, 33, 0.7);
    text-decoration: none;
    font-family: 'artifakt-medium', sans-serif;
    margin: 0 32px 0 1px;
    font-weight: 400;
    font-size: 1.42rem;
    line-height: 1.55;
    border-bottom: none;
    text-align: left;
}
.item-products__collection-list a:hover {
    border-bottom: 0.5px solid rgba(0, 0, 0, 1);
}

.header__fix-product--section-bottom {
    position: absolute;
    bottom: 0px;
}
.header__fix-product--section-bottom-link::after {
    content: "";
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    width: 715px;
    height: 1px;
    right: 230px;
}
.header__fix-product--section-bottom-link {
    display: flex;
}

.header__fix-product--section-bottom-link a {
    color: var(--black-color);
    position: relative;
    display: block;
    min-width: 220px;
    font-family: 'artifakt-bold', fantasy;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    padding: 3px 8px 3.5px 12px;
    margin: 24px 0;
    border-radius: 4px;
    border: 1px solid var(--black-color);
}

.header__fix-product--section-bottom-item-link:hover {
    outline: 1px solid #8080ff;
    cursor: pointer;
}
.header__fix-product--section-bottom-icon {
    position: relative;
    transform: scale(1.5) rotate(270deg);
    height: 12px;
    width: 12px;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}

.header__fix-product--links {
    position: relative;
    right: 8px;
    height: var(--window-length);
    padding-top: 24px;
    background: #fbfbfb;
}
.header__fix-product--link-block {
    display: flex;
    position: relative;
    color: var(--search-color);
    font-family: 'artifakt-bold', sans-serif;
    font-size: 1.34rem;
    line-height: 0.9;
    letter-spacing: normal;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid var(--popup-win-line);
    text-decoration: none;
    align-items: center;
}
.header__fix-product--icon {
    fill: none;
    width: 20px;
    height: 20px;
    position: relative;
    
}
.header__fix-product--link-block p {
    position: relative;
    top: 1px;
    padding-left: 6px;
}
.header__fix-product--link-block p:hover {
    text-decoration: underline!important;
    text-underline-offset: 2.2px;
}

.header__fix-product--block {
    display: flex;
    color: var(--search-color);
    position: relative;
    padding: 20px 10px 12px 0px;
    width: 100%;
    font-family: 'artifakt-bold',sans-serif;
    font-size: 1.55rem;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
}
.header__fix-product--block p {
    margin: 3px 0px 0px 6px;
}
.header__fix-product--links::after {
    content: "";
    position: absolute;
    border-top: 1px solid var(--popup-win-line);
    width: 227px;
    left: 13px;
    top: 24px;
}
.header__fix-product--block-list li {
    list-style: none;
    margin: 2px 34px 20px 0;
}
.header__fix-product--block-list a:hover {
    text-decoration: underline!important;
    text-underline-offset: 2.2px;
}
.header__fix-product--block-list--last-item {
    display: flex;
    flex-wrap: wrap;
}
.header__fix-product--block-list--last-item span {
    color: rgba(33, 33, 33, 0.7);
}
.header__fix-product--block-list--item {
    text-decoration: none;
    color: rgba(33, 33, 33, 0.7);
}
.header__fix-product--block-list.last-list {
    position: relative;
    top: -15px;
}
.header__fix-product--block.buy-list {
    position: relative;
    top: -15px;
}
.header__fix-product--block-list--last-item span {
    margin-bottom: 4px;
}
        /* #endregion Fixed Bar Product Button */

        /* #region Fixed Bar Support Button */

#toggle2:checked ~ .header__fix-support-container {
    display: block;
}

.header__fix-btn--support-item:focus ~ .header__fix-support-container {
    display: block;
}
.header__fix-support-container {
    position: absolute; 
    top: var(--fixedbar-height);
    display: none;
}
.header__fix-support-panel {
    width: 224px;
    height: 314px;
    background-color: var(--white-color);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    /* display: none; */
}
.header__fix-panel-container {
    /* display: none; */
    padding-top: 0.66em;
    padding-bottom: 1.06em;
    position: absolute;
    width: 100%;
}

.header__fix-container--item {
    list-style: none;
    text-decoration: none;
}
.header__fix-container--item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.header__fix-container--item-clickable {
    display: inline-flex;
    padding: 8px 38px 7px 16px;
    font-size: 1.4rem;
    align-content: center;
    line-height: 1.33;
    text-decoration: none;
}
.header__fix-container--item-clickable.clickable-button {
    display: flex;
    padding: 8px 0px 7px 16px;
    cursor: pointer;
    border: none;
    margin: 0;
    width: 100%;
    justify-content: space-between;
}
.header__fix-container--item-title {
    color: rgba(33, 33, 33, 0.7);
}
.header__fix-btn-dropdown-rotate {
    position: relative;
    transform: rotate(270deg);
    margin-right: 14px;
    margin-top: 1px;
}

.header__fix-container--item-icon {
    height: 11px;
    width: 11px;
    margin-left: 3px;
}


        /* #endregion Fixed Bar Support Button */

        /* #region Fixed Bar Learn Button */

#toggle3:checked ~ .header__fix-learn-container {
    display: block;
}

.header__fix-btn--learn-item:focus ~ .header__fix-learn-container {
    display: block;
}
.header__fix-learn-container {
    position: absolute; 
    top: var(--fixedbar-height);
    display: none;
}
.header__fix-learn-panel {
    width: 224px;
    height: 230px;
    background-color: var(--white-color);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

        /* #endregion Fixed Bar Learn Button */

        /* #region Fixed Bar Community Button */

#toggle4:checked ~ .header__fix-community-container {
    display: block;
}
.toggle-visible-hidden {
    display: none;
}
.header__fix-btn--community-item:focus ~ .header__fix-community-container {
    display: block;
}

.header__fix-community-container {
    position: absolute; 
    top: var(--fixedbar-height);
    display: none;
}
.header__fix-community-panel {
    width: 224px;
    height: 159px;
    background-color: var(--white-color);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
        
                /* #endregion Fixed Bar Learn Button */


/* #endregion .header__fix modal*/

/* #region body container */
    /* #region BANNER */

.container__banner {
    /* height: calc(var(--banner-height) + var(--header-height)); */
    background-color: var(--black-color);
}

.carousel {
    --left-offset: 0px;
    margin-left: 0;
    margin-right: 0;
}

ul.carousel__slides {
    display: block;
    position: relative;
    /* height: calc(var(--banner-height) + var(--header-height)); */
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    overflow: visible;
}

.carousel__slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.carousel__slides input {
    display: none; 
}


.slide-container { 
    display: block;
}

.slide-image { /*carousel-slide aec*/
    position: absolute;
    top: var(--header-height);
    left: 0;
    right: 0;
    display: block;
    opacity: 0;
    
}   

.slide-image--item { /* slide__img */
    position: relative; /*  important */
    width: 2000px;
    top: -187px;
    left: -390px;
    height: var(--banner-height);
    object-fit: cover;
    object-position: 0 0;
}
.slide-image--text { 
    position: relative;
    color: var(--white-color);
    font-family: 'artifakt-bold', sans-serif;
    font-size: 2.2rem;
    top: 212px;
    line-height: 23px;
    z-index: 10;
}
.slide-image--text-line {
    font-weight: 900;
}

.carousel__go-shop-btn {
    background-color: var(--white-color);
    color: var(--black-color);
    position: relative;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 9px 19.5px;
    top: 488px;
    left: 1px;
    cursor: pointer;
    z-index: 10;
    border-radius: 4px;
}
.carousel__go-shop-btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 176px;
    height: 43px;
    top: -1.5px;
    left: -2.5px;
    border-radius: 4px;
    background-color: transparent;
    outline: 1px solid rgb(95 96 255);
    display: none;
}

.carousel__go-shop-btn:hover.carousel__go-shop-btn::after {
    display: block;
}
.carousel-controls {
    position: absolute;
    top: calc(var(--header-height) + 110px);
    line-height: calc(var(--banner-height) - 110px);
    left: -8%;
    right: -8%;
    z-index: 9;
    font-size: 30px;
    color: var(--white-color);
}

.slide-image--copyright {
    position: absolute;
    font-size: 1.1rem;
    top: 555px;
    color: rgba(255, 255, 255, 0.6);
}
.carousel-controls label {
    position: absolute;
    display: none;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 50%;
    text-align: left;
    left: 0;
    z-index: 2;

}

.carousel-controls .next-slide {
    width: 50%;
    text-align: right;
    right: 0;
    z-index: 2;

}
.prev-slide__btn {
    padding: 2px 20px 6px;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 50%;
}
.next-slide__btn {
    padding: 2px 20px 6px;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 50%;
}
.carousel__headings {
    color: var(--white-color);
    position: relative;
    display: flex;
    width: 1220px;
    justify-content: flex-start;
    list-style: none;
    z-index: 9;
    top: 175px;
    left: var(--left-offset);
    font-size: 1.55rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.carousel__headings .carousel-heading {
    display: inline-block;
    opacity: 0.6;
    padding: 0px 2px 10px 2px;
    margin-right: 32px;
}
.carousel-heading {
    letter-spacing: 0.02rem;
}
.carousel-heading:hover {
    cursor: pointer;
    opacity: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

input:checked + .slide-container .slide-image {
    display: block;
    opacity: 1;
    transform: scale(1);
    /* transition: opacity 0.4s ease-in-out; */ 
}
input:checked + .slide-container .core__intro {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s ease-in-out;
    animation: fadeIn ease-in-out 0.8s;
    
}

input:checked + .slide-container .carousel-controls label {
    display: block;
}
input#img-3:checked ~ .aec,
input#img-3:checked ~ .pdm {
	display: none;
}
input#img-2:checked ~ .aec,
input#img-2:checked ~ .me {
	display: none;
}
input#img-1:checked ~ .pdm,
input#img-1:checked ~ .me {
	display: none;
}
input#img-1:checked ~ .carousel__headings label#img-heading-1,
input#img-2:checked ~ .carousel__headings label#img-heading-2,
input#img-3:checked ~ .carousel__headings label#img-heading-3 {
	opacity: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

    /* #endregion BANNER */

    /* #region BANNER-CORE */
.container__carousel {
    background-color: var(--white-color);
    height: 2260px;
}
.core__intro {
    display: flex;
    position: relative;
    /* justify-content: flex-start; */
    top: -189px;
    flex-wrap: wrap;
}
.core__intro-item {
    position: relative;
    background-color: var(--white-color);
    font-family: 'artifakt-bold';
    margin: 45px 22px 30px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.28);
    overflow: hidden;
    width: 384px;
    height: 563px;
}

.core__intro-item.core__intro-item--aec {
    display: flex;
    width: 789px;
    height: calc(120px + var(--buy-height));
    background-color: var(--white-color);
    font-family: 'artifakt-bold';
    margin: 0px 22px 32px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.28);
    overflow: hidden;
}
.core__intro-item.core__intro-item--aec-buy {
    width: 384px;
    height: calc(120px + var(--buy-height));
    position: relative;
    background-color: var(--white-color);
    font-family: 'artifakt-bold';
    margin: 0px 22px 30px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.28);
    overflow: hidden;
}
.core__intro-item--aec .core__intro-item-link {
    display: flex;
    justify-content: space-between;
}

.core__intro-item--aec .core__intro-item-link-img {
    width: 394px;
    height: 426px;
    position: absolute;
    left: 9px;
    object-fit: cover;
    object-position: center 0;
    
}

.core__intro-item--aec .core__intro-item-content--direction,
.core__intro-item--aec-buy .core__intro-item-content--direction {
    position: absolute;
    top: 272px;
}

.core__intro-item--aec .core__intro-item-link::after,
.core__intro-item--aec-buy .core__intro-item-link::after {
    content: "";
    position: absolute;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
    width: 320px;
    top: 310px;
    left: 32px;
}
.core__intro-item.core__intro-item--pdm-me-buy {
    width: 1194px;
    height: 265px;
    margin-top: 20px;
    
}
.core__intro-item-content--icons-buy {
    display: flex;
    position: absolute;
    justify-content: center;

}
.core__intro-item-content-pdm-me-buy-text {
    margin-bottom: 50px;
    margin-top: 55px;
}

.core__intro-item--pdm-me-buy .core__intro-item-link--buy::after {
    content: "";
    position: absolute;
    border-left: 0.5px solid rgba(0, 0, 0, 0.15);
    height: 50px;
    top: 130px;
    right: 295px;
}
.core__intro-item-content--buy {
    display: flex;
}
.core__intro-item-content--img-buy {
    width: 52px;
    height: 50px;
    position: relative;
    margin: 0px 22px 26px 0px;
}
.core__intro-item-content--buy-text {
    color: var(--black-color);
    font-size: 1.6rem;
    font-family: 'artifakt-medium', sans-serif;
    line-height: 1.8rem;
    margin-top: 5px;
}
.core__intro-item--aec-buy .core__intro-item-content--text {
    height: 32px;
    width: 320px;
    margin-bottom: 22px;
}
.core__intro-item-link--buy .core__intro-item-content--buy {
    margin-right: 14px;
}
.core__intro-item-link--buy .core__intro-item-content--direction {
    position: relative;
    top: -24px;
}
.core__intro-item-link--buy .core__intro-item-content--direction-text {
    font-family: 'artifakt-medium', sans-serif;
    font-weight: 900;
}
.core__intro-item-link:hover .core__intro-item-content--direction-icon,
.core__intro-item-link--buy:hover .core__intro-item-content--direction-icon {
    background-color: var(--white-color);
    padding: 0;
    fill: var(--black-color);
}
.core__intro-item-content {
    position: relative;
    height: 275px;
    margin: 33px 33px 0px 33px;
}
.core__intro-item-content--text {
    height: 170px;
    width: 320px;
}
.core__intro-item-link::after {
    content: "";
    position: absolute;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
    width: 320px;
    top: 205px;
    left: 32px;
}
.core__intro-item-content--heading-text {
    color: var(--black-color);
    font-size: 2.6rem;
    line-height: 2.8rem;
    font-weight: 900;
    letter-spacing: 0.05rem;
}
.core__intro-item-content--direction {
    display: flex;
    margin-top: 8px;
    font-size: 1.55rem;
    justify-content: start;
}
.core__intro-item-content--direction-icon {
    min-width: 24px;
    height: 24px;
    margin: 14px 0px 0px 0px;
    padding: 2px;
    border-radius: 50%;
    background: var(--black-color);
    fill: #fff;
}

.core__intro-item-content--direction-text {
    color: var(--black-color);
    position: relative;
    margin-left: 10px;
    top: -5px;
    font-family: 'artifakt-medium', sans-serif;
    line-height: 2.2rem;
    font-weight: 900;
}
.core__intro-item-content--copyright-text {
    font-family: 'artifakt-medium';
    font-size: 1.15rem;
    color: var(--white-color);
    position: absolute;
    top: 466px;
    z-index: 1;
}
.core__intro-item-img {
    background-repeat: no-repeat;
    position: relative;
}
.core__intro-copyright-img::after {
    content: "";
    position: relative;
    width: 386px;
    height: 150px;
    display: block;
    top: -150px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0));   
}
.core__intro-item-link-img {
    width: 386px;
    height: 256px;
    position: relative;
    object-fit: contain;
    object-position: 0 0;
    
}
    /* #endregion BANNER-CORE */
/* #endregion body container */

/* #region CORE xfpage */
.container__core {
    height: 1160px;
}

.xfpage {
    background-color: var(--black-color);
    position: relative;
    height: 524px;
    top: 12px;
    left: -389px;
    overflow: hidden;
}

.container__core-xfpage-img {
    position: relative;
}
.container__core-xfpage-scale-img {
    transform: scale(0.87);
    position: relative;
    top: -78px;
    left: -12px;
}
.container__core-xfpage-item {
    position: absolute;
    width: 24%;
    top: 28%;
    right: 22%;
}
.container__core-xfpage-item--text {
    font-family: 'artifakt-medium';
    color: var(--white-color);
}
.container__core-xfpage-item--heading-text {
    font-family: 'artifakt-bold', ;
    font-weight: 900;
    font-size: 4.8rem;
    line-height: 5rem;
    margin: 0;
}
.container__core-xfpage-item--content-text {
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-bottom: 0;
}
.container__core-xfpage-item--direction .core__intro-item-content--direction-icon {
    height: 28px;
}
.container__core-xfpage-item--direction .core__intro-item-content--direction-text {
    color: var(--white-color);
    font-size: 1.5rem;
    margin-top: 23px;
}
.container__core-xfpage-item--direction-link {
    display: flex;
    text-decoration: none;
}

/* #endregion CORE xfpage */

/* #region MAIN CORE */
.core__intro-item.core__welcome {
    --welcom-height: 320px;
    width: 100%;
    width: 1200px;
    height: var(--welcom-height);
}
.core__welcome .core__intro-item-link {
    display: flex;

}
.core__welcome .core__intro-item-link::after {
    top: 242px;
    width: 44.6%;
}
.core__welcome .core__intro-item-content {
    width: 44.6%;
}
.core__welcome .core__intro-item-content--text {
    width: 100%;
}
.core__intro-item-content--content-text {
    color: var(--black-color);
    font-family: 'artifakt-medium', sans-serif;
    font-size: 1.5rem;
    line-height: 2.2rem;
    letter-spacing: 0.05rem;
}
.core__welcome .core__intro-item-content--direction {
    position: absolute;
    bottom: 0px;
}
.core__welcome .core__intro-item-img {
    position: absolute;
    left: 50%;
    height: var(--welcom-height);
    width: 50%;
}

.core__welcome .core__intro-item-link-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.core__intro-item.core__intro-item-main {
    margin-top: 24px;
    width: 576px;
    height: 662px;
}
.core__intro-item-main .core__intro-item-link::after {
    content: "";
    position: absolute;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
    width: 90%;
    top: 185px;
    left: 32px;
}
.core__intro-item-main .core__intro-item-link {
    text-decoration: none;
}
.core__intro-item-main-content {
    height: 37%;
    margin: 32px 32px 0px 32px;
}
.core__intro-item-main-content--text {
    color: var(--black-color);
    font-family: 'artifakt-bold', sans-serif;
    text-decoration: none;
}
.core__intro-item-content--title-text {
    font-family: 'artifakt-medium', sans-serif;
    margin-bottom: 26px;
}

.core__intro-item-main .core__intro-item-content--direction {
    position: absolute;
    top: 188px;
}

.core__intro-item-main .core__intro-item-link-img {
    height: 100%;
    width: 100%;
}

.core__intro-item-main .core__intro-item-content--copyright-text {
    position: relative;
}

/* #endregion MAIN CORE */

/* #region Home footer */
.app__footer {
    height: var(--footer-height);
    background-color: var(--footer-color);
}
.app__footer::before {
    content: "";
    position: absolute;
    border-top: 0.5px solid rgba(0, 0, 0, 0.15);
    width: 100%;
}
.app__footer .footer-col {
    display: flex;
    width: 215px;
}

.app__footer .last-col {
    display: flex;
    width: 362px;
}
.footer__items {
    margin: 28px 0px 0px 20px;
}
.footer__heading {
    color: var(--black-color);
    font-size: 1.6rem;
    margin-bottom: 18px;
}
.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--footer-text);
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.footer-item__link:hover {
    color: black;
    font-family: 'artifakt-medium', fantasy;
    text-decoration: underline !important;
    text-underline-offset: 1.8px;
}
.about-us {
    color: var(--footer-text);
    font-style: italic;
}

.footer-icon {
    height: 24px;
    margin-right: 10px;
}

.footer-line {
    width: 100%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}
.footer__bottom {
    background-color: var(--footer-bottom-color);
    border-top: 0.5px solid rgba(0, 0, 0, 0.15);
    height: 81px;
}

.footer__bottom--items {
    display: flex;
    margin: 30px 20px;

}
.footer-item__bottom-link,
.footer-item__copyright {
    color: var(--footer-text);
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: 16px;
}

.footer-item__bottom-link:hover {
    border-bottom: 0.5px solid rgba(0, 0, 0, 1);
}
.footer-item__bottom-link::after {
    content: "";
    height: 10px;
    position: relative;
    border-right: 0.5px solid rgba(0, 0, 0, 0.5);
    left: 8px;
}
.help__item {
    position: fixed;
    bottom: 14px;
    right: 14px;
}
.help__icon {
    cursor: pointer;
}
.help__container {
    display: none;
}

.help__item:hover ~ .help__container {
    display: block;
}


.help__window {
    width: 400px;
    height: 640px;
    background-color: var(--white-color);
    box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 25%);
    border: 0.5px solid rgba(0,0,0,.2);
    position: fixed;
    bottom: 70px;
    right: 14px;
}

.help__window-main-header {
    font-size: 14px;
    width: 100%;
    position: relative;
    z-index: 1;
}
.help__window-header {
    background: var(--black-color);
    height: 60px;
    position: relative;
}
.help__window-header__icon {
    position: absolute;
    color: var(--white-color);
    cursor: pointer;
    left: 20px;
    top: 17px;
    width: 22px;
    height: 25px;
    font-size: 22px;
}
.icon-home--solid {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: visibility 0s, opacity .3s linear;
}
.icon-home--solid:hover {
    visibility: visible;
}
.icon-home--outline {
    position: absolute;
}


.help__window-header__title {
    position: absolute;
    font-size: 19px;
    line-height: 19px;
    letter-spacing: normal;
    text-align: left;
    color: var(--white-color);
    left: 60px;
    width: 100px;
    vertical-align: middle;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 4px 0;
}
.help__window-header__close {
    position: absolute;
    color: var(--white-color);
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
    padding: 10px 0;
}
.help__window-header__close-icon {
    width: 18px;
    border-bottom: 2px solid var(--white-color);
    height: 1px;
    cursor: inherit;
}

.help__window-main-container {
    position: relative;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    background-color: var(--white-color);
    width: 100%;
}
.help__window-main-container__body {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 24px 32px;
    margin-bottom: 16px;
}
.help__window-main-container__title {
    margin: 24px 0 32px;
    text-align: left;
    font-family: 'artifakt-medium', sans-serif;
    color: var(--search-color);
    font-size: 2.7rem;
    line-height: 3rem;
    letter-spacing: -0.1rem;
}
.help__window-main-container__items {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.help__window-main-container__item {
    position: relative;
    border: 1px solid #bfbfbf;
    box-shadow: 2px 2px 0 0 #bfbfbf;
    color: var(--search-color);
    padding: 16px 54px 8px 20px;
    margin-bottom: 20px;
}
.help__window-main-container__item:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}
.help__window-main-container__item-label {
    margin-bottom: 6px;
    font-size: 1.6rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 21px;
    letter-spacing: normal;
    text-align: left;
}
.help__window-main-container__item-description {
    line-height: 16px;
    margin-bottom: 15px;
    font-size: 12.5px;
}
.help__window-main-container__item-greater-than {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}



/* #endregion Home footer */





